#welcomewidget {
    background-image: url('../images/welcome.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

#welcomewidget_message {
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}
