/* An enhanced style for the forum, Web 2.0 - like*/
/* mixins */
@media screen and (min-width: 801px) {
  #forum .small_screen,
  #forum .searchbar {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #forum .large_screen {
    display: none;
  }
  #forum #tutorBreadcrumb,
  #forum div.searchbar {
    padding-left: 5px;
  }
  #forum table.forum td[data-type="last_posting"],
  #forum table.forum td.answer,
  #forum table.forum td.icon,
  #forum table.forum td.areaborder,
  #forum table.forum td[data-type="answers"] {
    display: none;
  }
  #forum table.forum td.postings {
    width: auto;
  }
  #forum dl.postprofile,
  #forum .editor_toolbar .buttons {
    display: none;
  }
  #forum div.postbody {
    width: 100%;
  }
  #forum span.likes {
    position: relative;
    right: 0px;
    display: block;
    margin-bottom: 5px;
    width: 98%;
    max-width: 98%;
  }
  html.forum #barTopStudip {
    display: none;
  }
  html.forum #barTopMenu li {
    height: 35px;
    min-width: 40px;
    width: 40px;
    overflow: hidden;
  }
  html.forum #barTopFont {
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    width: 90%;
    left: 5px !important;
  }
  html.forum #barBottomLeft {
    display: none !important;
  }
  html.forum #layout_container {
    padding: 0px;
  }
  html.forum #layout_page {
    margin: 0px;
  }
  html.forum #layout_content {
    margin: 0px;
    padding: 0px;
  }
  html.forum #layout_sidebar {
    display: none ! important;
  }
}
@media print {
  #forum .searchbar,
  #forum div[data-type="page_chooser"],
  #forum .likes,
  #forum dl.postprofile {
    display: none;
  }
  #forum div.title p.author {
    margin-bottom: 0px;
  }
  #forum div.postbody {
    width: 100%;
  }
}
.ui-dialog {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
html.no-js #forum .js {
  display: none;
}
#forum img.button,
#forum input[type=image] {
  vertical-align: middle;
}
#forum span.corners-top span,
#forum span.corners-top-right {
  background-repeat: no-repeat;
  display: block;
  height: 5px;
  margin: 0pt;
  padding: 0pt;
  background-position: 100% 0pt;
}
#forum form {
  display: inline;
}
#forum img {
  border: none;
  max-width: 600px;
}
#forum span.highlight {
  background-color: yellow;
  border: 1px solid #ff9999;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#forum .searchbar {
  text-align: left;
}
#forum .searchbar input[name=searchfor] {
  width: 90%;
}
#forum .forum_header {
  background-color: #899ab9;
  color: #ffffff;
  margin: 0pt;
  padding: 0pt;
}
#forum .forum_header .button {
  margin: 0px;
}
#forum .heading {
  display: block;
  margin: 1px 4px 4px 6px;
  text-transform: uppercase;
}
#forum table.forum td.selected {
  background-color: #ffffcc;
}
#forum td.postings {
  vertical-align: middle;
  text-align: center;
  width: 80px;
}
#forum td.answer {
  width: 300px;
}
#forum .area_title {
  padding: 0 5px;
  font-weight: bold;
  text-transform: uppercase;
}
#forum .area_input {
  display: block;
  padding: 0 5px;
}
#forum .add_area_form {
  display: block;
  padding: 0 5px;
  text-align: center;
}
#forum td.add_area {
  font-weight: bold;
  font-size: 16pt;
  text-align: right;
  padding-right: 12px;
}
#forum td.add_area img {
  margin-bottom: -3px;
}
#forum td.add_area span {
  font-size: 10pt;
  font-weight: normal;
}
#forum td.add_area:hover {
  cursor: pointer;
}
#forum td.add_area:hover span {
  color: #FF3333;
}
#forum .icon {
  padding: 0;
  margin: 0pt;
  width: 30px;
  height: 50px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}
#forum .icon_thread {
  padding: 0pt;
  margin: 0pt;
  width: 40px;
  height: 30px;
}
#forum span.areaname {
  display: block;
  margin-right: 55px;
  font-weight: bold;
}
#forum span.threadauthor {
  float: left;
  width: 70%;
}
#forum .cite_box {
  margin: 0 4em;
}
#forum .posting {
  height: 100%;
  margin: 0 0 0.75em 0;
  padding: 0;
  background-color: #ecf3f7;
}
#forum .posting a {
  word-break: break-all;
}
@keyframes border-pulsate {
  0% {
    border-color: #ffff99;
  }
  50% {
    border-color: rgba(255, 255, 153, 0);
  }
  100% {
    border-color: #ffff99;
  }
}
#forum div.highlight {
  border: 4px solid #FFFF99;
  animation: border-pulsate 2s 5;
}
#forum .postbody {
  position: relative;
  padding: 0pt 5px;
  margin: 0pt;
  width: 78%;
  float: left;
  text-align: left;
}
#forum .buttons {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
#forum div.title {
  text-align: left;
  float: left;
  width: 100%;
}
#forum .title {
  font-weight: bold;
}
#forum div.postbody span.icons {
  float: right;
  min-width: 3%;
}
#forum div.postbody .content {
  overflow: hidden;
  clear: both;
}
#forum p.author {
  margin: 2px 0px 8px 0px;
}
#forum .content {
  clear: both;
}
#forum span.username {
  font-weight: bold;
}
#forum .postprofile {
  border-left: 1px solid #ffffff;
  display: inline;
  float: right;
  min-height: 80px;
  width: 18%;
  margin: 0pt;
  padding: 0pt 0pt 0pt 8px;
}
#forum .postprofile dd,
#forum .postprofile dt {
  padding: 0pt;
  margin: 0pt;
}
#forum span.buttons {
  display: block;
  clear: both;
  text-align: center;
  width: 78%;
}
#forum span.corners-top {
  background-repeat: no-repeat;
  display: block;
  height: 5px;
  margin: 0pt;
  padding: 0pt;
  background-position: 0pt 0pt;
}
#forum span.corners-bottom {
  background-repeat: no-repeat;
  display: block;
  height: 5px;
  margin: 0pt;
  padding: 0pt;
  background-position: 0pt -7px;
  clear: both;
}
#forum span.corners-bottom span {
  background-repeat: no-repeat;
  display: block;
  height: 5px;
  margin: 0pt;
  padding: 0pt;
  background-position: 100% -7px;
}
#forum span.no-corner {
  display: block;
  height: 5px;
}
#forum .likes {
  position: absolute;
  bottom: 5px;
  right: 5px;
  max-width: 17%;
}
#forum .action-icons {
  position: absolute;
  right: 10px;
  top: 0px;
  visibility: hidden;
}
#forum tr:hover .action-icons {
  visibility: visible;
}
#forum .action-buttons {
  display: none;
}
#forum textarea {
  width: 100%;
  height: 20em;
}
#forum .handle {
  cursor: move;
}
#forum .editor_toolbar {
  width: 100%;
}
#forum a.marked div {
  cursor: pointer;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 0px;
  width: 0px;
  -moz-box-shadow: -5px 5px 5px #888888;
  -webkit-box-shadow: -5px 5px 5px #888888;
  box-shadow: -5px 5px 5px #888888;
  border-left: solid 40px #dee2e8;
  border-top: solid 40px transparent;
}
#forum .new_posting {
  position: absolute;
  top: 10px;
  right: 10px;
}
#forum div.action-icons {
  display: none;
}
#forum dd.posting_icons {
  padding-top: 5px;
}
#forum dd.posting_icons img {
  vertical-align: bottom;
}
#forum dd.posting_icons a {
  margin-right: 5px;
}
#forum .smiley_favorites {
  text-align: center;
  padding-right: 5px;
}
#forum a.tooltip2 {
  color: black;
  cursor: help;
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: none;
}
#forum a.tooltip2 span {
  position: relative;
  display: inline-block;
  margin-bottom: 9px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
  background-color: #ddd;
  border: 2px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: 20%;
  bottom: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  font-size: 10pt;
  font-weight: normal;
  margin-left: 0px;
  opacity: .95;
  padding: 10px;
  position: absolute;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  visibility: hidden;
  white-space: normal;
  width: 400px;
  z-index: 999;
  clear: both;
}
#forum a.tooltip2:hover span {
  visibility: visible;
}
#forum li.selected {
  background-color: #DDDDFF;
}
