#rulelist div.admissionrule {
    display: list-item;
    list-style-type: disc;
    margin-left: 25px;
}

.hover_box div {
  display: inline;
}
.hover_box .action_icons {
  display: inline;
  margin-left: 15px;
}

.condition {
    margin-left: 20px;
}

.userlist_user a {
    visibility: hidden;
}

.userlist_user:hover a {
    visibility: visible;
}

.check_actions {
  font-weight: normal;
}

.check_actions a {
    cursor: pointer;
}
