/* --- Avatars of users, courses and institutes ----------------------------- */
.avatar-small {
    vertical-align: middle;
    .size(25px, 20px);
}
.avatar-medium { .size(100px, 80px); }
.avatar-normal { .size(250px, 200px); }

.course-avatar-small {
    vertical-align: middle;
    .size(20px, 20px);
}
.course-avatar-medium { .size(80px, 80px); }
.course-avatar-normal { .size(125px, 250px); }

#custom_avatar label {
    display: block;
    font-weight: bold;
}
