// TODO: LESSify

a.button, button.button {
    display: inline-block;
    position: relative;
    margin: 0.8em 0.6em 0.8em 0;
    padding: 5px 15px 5px 15px;
    border: 1px solid #1e3e70;
    background-color: #cddae4;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;    
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d1e9), to(#899ab9));
    background-image: -webkit-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -moz-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -ms-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -o-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4d1e9', endColorstr='#899ab9');
    min-width: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

a.button:hover, button.button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(c4d1e9), to(#7890bc));
    background-image: -webkit-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -moz-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -ms-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -o-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4d1e9', endColorstr='#7890bc');
}

a.button:active, button.button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7890bc), to(#c4d1e9));
    background-image: -webkit-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -moz-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -ms-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -o-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7890bc', endColorstr='#c4d1e9');
}

a.button::-moz-focus-inner, button.button::-moz-focus-inner {
    border: 0;
}

a.button:focus, button.button:focus {
    outline: dotted 1px black;
}

a.button.disabled, button.button.disabled,
a.button[disabled], button.button[disabled] {
    cursor: default;
    background: #e6e6e6 none;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.button {
    width: auto;
    overflow: visible;
}

.button.accept:before, .button.cancel:before {
    float: left;
    margin: 0 8px 0 -4px;
    content: " ";
    width: 16px;
    height: 16px;
}

.button.cancel {
    background: #ffc0c0;
    background: -moz-linear-gradient(top,  #ffc0c0 0%, #d88888 20%, #d88888 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc0c0), color-stop(20%,#d88888), color-stop(100%,#d88888));
    background: -webkit-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: -o-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: -ms-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc0c0', endColorstr='#d88888',GradientType=0 );
}

.button.cancel:hover {
    background: #ffc0c0;
    background: -moz-linear-gradient(top,  #ffc0c0 0%, #da6767 20%, #da6767 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc0c0), color-stop(20%,#da6767), color-stop(100%,#da6767));
    background: -webkit-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: -o-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: -ms-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc0c0', endColorstr='#da6767',GradientType=0 );
}

.button.cancel:active {
    background: #d88888;
    background: -moz-linear-gradient(top,  #d88888 0%, #ffc0c0 20%, #ffc0c0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d88888), color-stop(20%,#ffc0c0), color-stop(100%,#ffc0c0));
    background: -webkit-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: -o-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: -ms-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88888', endColorstr='#ffc0c0',GradientType=0 );
}

.button.cancel:before {
    margin-top: -2px;
    background: url(../images/icons/16/white/decline.png) no-repeat;
}

.button.accept {
    font-weight: bolder;
}

.button.accept:before {
    margin-top: -2px;
    background: url(../images/icons/16/white/accept.png) no-repeat;
}

.button.accept, .button.cancel {
    white-space: normal;
}

/****************************************************************************/
/* Grouped Buttons                                                          */
/****************************************************************************/

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-group .button,
.button-group button {
    float: left;
    margin-left: -1px;
    margin-right: 0;
    border-left: 1px solid #1e3e70;
}

.button-group > .button:not(:first-child):not(:last-child),
.button-group > button:not(:first-child):not(:last-child) {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button-group > .button:first-child,
.button-group > button:first-child {
    margin-left: 0;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid #1e3e70;
}

.button-group > .button:last-child,
.button-group > button:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
