.button() {
    background: white;
    border: 1px solid @base-color;
    .box-sizing(border-box);
    color: @base-color;
    cursor: pointer;
    display: inline-block;
    font-family: @font-family-base;
    font-size: 14px;
    line-height: 130%;
    margin: 0.8em 0.6em 0.8em 0;
    min-width: 100px;
    overflow: visible;
    padding: 5px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;

    &:hover  {
        background: @base-color;
        color: white;
    }
    &:active {
        background-image: none;
        outline: 0;
    }
    &:focus {
        outline: dotted 1px #000;
    }
    &::-moz-focus-inner {
        border: 0;
    }

    &.disabled, &[disabled] {
        .box-shadow(none);
        background: @light-gray-color-20;
        cursor: default;
        opacity: 0.65;

        &:hover {
            color: @base-color;
        }
    }
}

a.button, button.button {
    .button;
}

.button-with-empty-icon {
    white-space: normal;

    &:before {
        background: no-repeat;
        content: " ";
        float: left;
        height: 16px;
        margin: 1px 5px 0 -8px;
        width: 16px;
    }
}

.button-with-icon(@icon, @hover-icon: @icon) {
    &:extend(.button-with-empty-icon);
    &:before {
        &:extend(.button-with-empty-icon:before);
        .retina-background-icon(@icon);
    }

    &:hover:before {
        .retina-background-icon(@hover-icon);
    }
}

.button.accept {
  .button-with-icon("blue/accept.png", "white/accept.png");
}

.button.cancel {
  .button-with-icon("blue/decline.png", "white/decline.png");
}

.button.edit {
  .button-with-icon("blue/edit.png", "white/edit.png");
}

.button.move-up {
  .button-with-icon("blue/arr_1up.png", "white/arr_1up.png");
}

.button.move-down {
  .button-with-icon("blue/arr_1down.png", "white/arr_1down.png");
}

/* Grouped Buttons */
.button-group {
    display: inline-block;
    list-style: none;
    margin: 0 0.8em 0 0;
    padding: 0;
    vertical-align: middle;

    button, .button {
        float: left;
        margin-left: 5px;
        margin-right: 0;
    }
}
