section.contentbox {
    border-color: #D3D9E5;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;

    header {
        padding: 2px;
        background-color: #E7EBF1;

        h1 {
            padding: 0;
            margin: 0;
            color: #24437C;
            border-bottom: none;
            font-size: medium;
        }

        nav {
            float: right;
        }
    }

    section,p {
        padding: 10px;
    }


    article {
        border-color: #D3D9E5;
        border-style: solid;
        border-width: 1px;
        margin: 10px;

        p,section,footer {
            padding: 0 10px 0 10px;
            display: none;
        }

        section {
            border-width: 0;
            margin-bottom: 10px;

            header {
                background: transparent;

                h1 {
                    text-align: center;
                    font-size: small;
                    width: 100%;
                    font-weight: bold;
                    color: black;
                }
            }

            article time {
                float: right;
                font-size: smaller;
                margin: 2px;
            }
        }

        header h1 a {    
            padding-left: 16px;
            background-image: url("../images/icons/16/blue/arr_1right.png");
            background-repeat: no-repeat;
        }
        footer {
            text-align: center;
            border-color: #D3D9E5;
            border-top-style: solid;
            border-width: 1px;
            h1 {
                font-size: 1em;
                font-weight: bold;
                border: none;
                padding: 0;
            }
            article.comment {
                border: 0;
                border-top: 1px solid #c3c8cc;
                max-width: 1260px;
                margin: auto;
                margin-bottom: 4px;
                text-align: left;
                h1 {
                   margin-bottom: 0px; 
                }
                time {
                    float:right;
                    font-size: 0.8em;
                    color: #c3c8cc;
                }
            }
        }
    }

    article.open {
        p,section,footer {
            display: inherit;
        }

        header h1 a {
            background-image: url("../images/icons/16/blue/arr_1down.png");
        }
    }
}