section.contentbox {
    border-color: @content-color-40;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    .transition(all 300ms ease 0s);

    header {
        padding: 2px;
        background-color: @content-color-20;

        h1 {
            padding: 5px;
            margin: 0;
            color: @base-color-80;
            border-bottom: none;
            font-size: medium;

            img {
                display: inline-block;
                margin-right: 5px;
            }
        }

        nav {
            float: right;
            a {
                img {
                    margin: 5px;
                }
            }
        }
    }

    section {
        padding: 10px;
    }


    table.default {
        margin-bottom: 0;
    }

    table.default tbody tr:last-child td {
        border-bottom: none;
    }

    article {
        border-color: @base-color-60;
        border-style: solid;
        border-width: 1px;
        margin: 10px;

        p,section,footer {
            padding: 0 10px 0 10px;
            max-height: 0;
            overflow: hidden;
            .transition(max-height 0.3s cubic-bezier(0,1.05,0,1));
        }

        p {
            margin: 0;
        }

        section {
            border-width: 0;

            header {
                background: transparent;

                h1 {
                    text-align: center;
                    font-size: small;
                    width: 100%;
                    font-weight: bold;
                    color: black;
                }
            }

            article time {
                float: right;
                font-size: smaller;
                margin: 2px;
            }
        }

        header h1 a {
            .icon-before('blue/arr_1right.png');
            &:before {
                .transition(all 300ms ease 0s);
            }
        }

        footer {
            text-align: center;
            border-color: @content-color-40;
            border-top-style: none;
            border-width: 1px;
            h1 {
                font-size: 1em;
                font-weight: bold;
                border: none;
                padding: 0;
            }
            article.comment {
                border: 0;
                border-top: 1px solid @light-gray-color-40;
                max-width: 1260px;
                margin: auto;
                margin-bottom: 4px;
                text-align: left;
                h1 {
                    margin-bottom: 0px;
                }
                time {
                    float:right;
                    font-size: 0.8em;
                    color: @light-gray-color-40;
                }
            }
        }
    }

    article.open {
        p,section,footer {
            max-height: 1000px;
            .transition(max-height 0.9s);
        }

        footer {
            border-top-style: solid;
        }

        header h1 a:before {
            .rotate(90deg);
        }
    }
}