/* --- content_box ------------------------------------------------------- */

    .content_box {
        border-top: 1px solid #1e3e70;
        border-bottom: 1px solid #1e3e70;
        margin-bottom: 8px;
    }

    .content_box > .head {
        background-color: #f4f7f9;
        border-bottom: 1px solid rgba(137, 154, 185, 0.19999999999999996);
        padding: 4px;
    }

    .content_box .head .actions {
        float: right;
    }

    .content_box .content {
        padding: 10px;
    }

    .content_box .content .box > .head {
        border-top: 1px solid @content-color;
        background-color: #e3eaf6;
        background-image: linear-gradient(#cdd9ed, #e3eaf6 40%, #e3eaf6);
        padding: 4px;
    }
    
    .content_box .content .box > .head .actions {
        float: right;
    }
    
    .content_box .content .box .content {
        padding: 10px;
    }
    
    .content_box .content .box .content .comment {
        text-align: left;
        padding: 10px;
    }

    .content_box .content .box .content .comment .head { 
        border-top: 1px solid @content-color;
        color: #888888; 
        font-size: 0.8em;
    }
    .content_box .content .box .content .comment .date {
        float: right;
    }
