option {
  &.faculty {
    font-weight: bold;
  }
  &.sub_institute {
    padding-left: 15px;
  }
}

div {
  &#assigned {
    float:left;
    padding-right: 10px;
    width: 45%;
  }
  &#studyareas {
    border-left: 1px solid #666666;
    float: left;
    padding-left: 10px;
    width: 45%;
  }
}