.themen_list, .dozenten_list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.themen_list > * {
    background-color: @content-color-20;
    margin: 2px;
}
table.dates {
    width: ~"calc(100% - 4px)";
    .themen_list > * {
        background-color: transparent;
    }
    .ausfall {
        opacity: 0.5;
    }
    .nextdate {
        background-color: @content-color-40;
    }
    
    .topic-droppable {
        &.active {
            background-color: @activity-color-40;
        }
        &.hovered {
            background-color: @activity-color-80;
        }
    }
    .draggable-topic-handle {
        cursor: move;
        background: transparent url("@{image-path}/anfasser_24.png") 3px center no-repeat;
        padding-left: 12px;
    }
}
