.ui-widget-overlay{
    background: fadeout(@base-color, 50%);
    opacity: 1;
}

.ui-dialog {
    border: 3px solid white;
    padding: 0;
    .box-shadow(0px 0px 8px rgba(0,0,0,0.5));

    .hide-in-dialog {
        display: none;
    }

    .ui-dialog-titlebar {
        background: @brand-color-darker;
        border: 0;
        font-size:1.3em;
        font-weight: normal;
    }

    .ui-dialog-titlebar-close {
        border: 0;
        background: @brand-color-darker;
        width: 32px;
        height: 32px;
        margin-top:-16px;
        text-align:center;
        line-height:32px;
        padding: 0;

        &:hover {
            border: 0;
            background: @brand-color-darker;
            width: 32px;
            height: 32px;
            margin-top:-16px;
            padding: 0;
        }
        .ui-icon{
            .retina-background-icon('white/decline.png');
            background-position: 0;
            margin: 0;

            display:inline-block;
            &:hover{
                .retina-background-icon('white/decline.png');
            }
        }
    }
    &.no-close .ui-dialog-titlebar-close {
        display: none;
    }

    .ui-dialog-buttonpane {
        padding: 0.5em 0.4em;
        margin: 0 1em;
        border-color: @base-color-20;

        .ui-dialog-buttonset {
            text-align: center;
            float: none;
        }
        .ui-button {
            .button(); // Include button mixin
        
            // Replicate cancel and accept buttons
            // TODO This should not be repeated here (not DRY)
            &.accept, &.cancel {
                white-space: normal;

                .ui-button-text:before {
                    content: ' ';
                    float: left;
                    height: 16px;
                    margin: -2px 8px 0 -4px;
                    width: 16px;
                }
            }

            &.accept {
                .ui-button-text:before {
                    background: no-repeat; 
                    .retina-background-icon('blue/accept.png');
                }
            }

            &.cancel {
                .ui-button-text:before {
                    background: no-repeat; 
                    .retina-background-icon('blue/decline.png');
                }
            }
        }
    
        .ui-button-text-only .ui-button-text {
            padding: 0;
        }
    }
}
.ui-dialog-titlebar-wiki {
    .retina-background-icon('white/question-circle.png', 24);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    .square(32px);
    margin-top: -16px;
    top: 50%;
    right: 34px; // This is ugly but hard to avoid since the close button's position on a dialog is also hardcoded
}
.ui-dialog-title {
    margin-right: 48px; // Needs to be adjusted to the width of wiki icon
}

// Centered content in dialog
.studip-dialog-centered .ui-dialog-content {
    .box-sizing(border-box);
    display: table !important; // jQuery UI sets these values directly on
    width: 100% !important;    // the element, thus we need to force it!
}
.studip-dialog-centered-helper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.modal-overlay {
    .ui-widget-overlay;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    
    &-local {
        background-color: fadeout(@light-gray-color, 50%);
        position: absolute;
    }
    &-ajax {
        // Fallback to gif for browsers that don't support svg. Fortunately,
        // the support for multiple background images and svg covers the same
        // browsers (except for some old android versions that we can neglect). 
        // Thus said, if the loading animation looks ugly - update your
        // browser ffs!
        background-image: url("@{image-path}/ajax_indicator_small.gif");
        background-image: none, url("@{image-path}/ajax-indicator-white.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    &-ajax.modal-overlay-dark {
        background-image: none, url("@{image-path}/ajax-indicator-black.svg");
    }
}

