.documents {
    .chdir-up a {
        display: block;
    }
    .document-icon, .empty {
        text-align: center;
    }
    .options {
        text-align: right;
    }
    .bread-crumbs {
        display: inline-block;
        min-height: 1.5em;
        width: 40px;
        z-index: 1;
    
        > a, ul {
            background-color: #fff;
            padding: 5px;
        }
        > a {
            padding-bottom: 2px;
        }

        &.extendable:hover {
            > a, > ul {
                box-shadow: 0 4px 3px #444;
            }
            ul {
                .flex();
                .flex-direction-column-reverse();
            }
        }
    
        ul {
            display: none;
            list-style: none;
            margin: 0;
            position: absolute;
        }
        li {
            font-size: 0.85em;
            line-height: 1.5em;

            a {
                background-image: url("@{image-path}/icons/24/blue/folder-down.png");
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 30px;
            }
            &:first-child a {
                background-image: url("@{image-path}/icons/24/blue/folder-empty.png");
            }
        }
    }
}

.document-dialog {
    @info-width: 120px;
    .clearfix;
    aside {
        float: left;
        width: @info-width;
    }
    div {
        border-left: 1px dashed #888;
        margin-left: @info-width;
        min-height: 100%;
        max-height: 100%;
        overflow-y: auto;
    }
}

@file-tree-delay: 300ms;

.hide-text() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.studip-icon(@icon) {
    .retina-background-icon(@icon);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    height: 16px;
    width: 16px;
}
@distance: 8px;
@border-style: 1px solid #888;
.file-tree {
    &, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul {
        margin-left: @distance;
        position: relative;

        &:before {
            border-left: @border-style;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
        }
    }
    li {
        overflow: hidden;
        padding-left: @distance + 2px;
        position: relative;
    }
    ul li:before {
        content: '';
        display: block;
        height: 0;
        width: @distance;
        position: absolute;
        border-top: @border-style;
        left: 0;
        top: @distance;
    }
    ul li:last-child:before {
        background: #fff;
        height: auto;
        top: 10px;
        bottom: 0;
    }

    input[type=checkbox] {
        display: none;
        + label {
            .hide-text;
            .studip-icon('blue/arr_1right.png');
            cursor: pointer;
            vertical-align: text-top;

            .transition(transform @file-tree-delay);
        }
        ~ ul {
            max-height: 0;
            opacity: 0;
            
            .transition(all @file-tree-delay);
        }
        ~ input[type=radio] + label {
            margin-left: 0;
        }

        &:checked {
            + label {
                .studip-icon('blue/arr_1down.png');
                .csstransforms & {
                    .studip-icon('blue/arr_1right.png');
                    .rotate(90deg);
                }
            }
            ~ ul {
                max-height: 1000px;
                opacity: 1;
            }
        }
    }
    input[type=radio] {
        display: none;

        + label {
            color: @brand-color-dark;
            border-radius: 2px;
            cursor: pointer;
            padding: 0 3px;
            margin-left: 1px;
        }

        &:checked + label {
            font-weight: bold;
            background: @content-color-40;
        }

        &[disabled] + label {
            color: #888;
        }
    }
}

.documents.dragging {
    [data-file]:not([data-folder]) {
        background-color: @light-gray-color-40;
        opacity: 0.6;
    }
}
.documents {
    [data-folder].dropping {
        background-color: @red-40;
    }
}

.document-draggable-helper {
    background-color: @activity-color-40 !important;
    opacity: 1 !important;
    td {
        border-bottom: 0 !important;
    }
}

fieldset.document-admin-search label {
    .box-sizing(border-box);
    display: inline-block;
    width: 49%;
}
