@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/latolatinlight-regular-webfont.eot');
  src: url('../fonts/lato/latolatinlight-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/latolatinlight-regular-webfont.woff') format('woff'),
       url('../fonts/lato/latolatinlight-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato/latolatinlight-regular-webfont.svg#lato_latin_lightregular') format('svg');
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/latolatin-regular-webfont.eot');
  src: url('../fonts/lato/latolatin-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/latolatin-regular-webfont.woff') format('woff'),
       url('../fonts/lato/latolatin-regular-webfont.ttf') format('truetype'),
       url('../fonts/lato/latolatin-regular-webfont.svg#lato_latinregular') format('svg');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/latolatin-bold-webfont.eot');
  src: url('../fonts/lato/latolatin-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/latolatin-bold-webfont.woff') format('woff'),
       url('../fonts/lato/latolatin-bold-webfont.ttf') format('truetype'),
       url('../fonts/lato/latolatin-bold-webfont.svg#lato_latinbold') format('svg');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
