// TODO: LESSify

/* --- header.css ----------------------------------------------------------- */
div#wrap2 {
    position: absolute;
    top: 150px;
}

div#barBottom {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #899ab9;
}

div#barBottomContainer {
    background-color: #899ab9;
    border: 1px #1e3e70;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 100%;
    height: 24px;
    margin-bottom: 1.5em;
    position: relative;
}

#barBottomLeft, #barBottommiddle, #barBottomright {
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    background-color: #899ab9;
    color: #ffffff;
    padding: 0;
}

div#barBottomLeft {
    float: left;
    padding-left: 15px;
    white-space: nowrap;
}

div#barBottommiddle {
    overflow: hidden;
    background: url('../images/header/header_bottom_isolator.png') no-repeat;
    padding-left: 40px;
    font-weight: bold;
}

div#barBottomright {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}

#barBottomright:before {
    position: absolute;
    left: -40px;
    width: 40px;
    height: 24px;
    content: " ";
}

#barBottomright:before {
    background: #899ab9;
    background: -moz-linear-gradient(top,  rgba(137,154,185,0) 0%, rgba(137,154,185,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,154,185,0)), color-stop(100%,rgba(137,154,185,1)));
    background: -webkit-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: -o-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: -ms-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00899ab9', endColorstr='#899ab9',GradientType=0 );
}

div#barBottomright ul {
    padding-left: 0;
}

div#barBottomright ul, #layout_footer ul {
    margin: 0;
}

div#barBottomright li, #layout_footer li {
    display: inline;
    list-style-type: none;
    height: 24px;
    line-height: 24px;
}

div#barBottomright li input {
    vertical-align: text-bottom;
}

div#barBottomright a, #layout_footer a {
    text-decoration: none;
    color: #dfdfdf;
    margin: 0 6px;
}

div#barBottomright a:hover, #layout_footer a:hover {
    color: #ffffff;
}

div#barTopFont {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16pt;
    color: #cccccc;
}

div#barTopStudip {
    position: absolute;
    top: 45px;
    right: 5px;
    text-align: right;
    border: none;
}

div#barTopStudip img {
    border: none;
}

div#barTopLogo {
    position: absolute;
    top: 0;
    left: 0;
}

div#header {
    height: 100px;
    background: url("../images/background_header.png") repeat-x;
}
