/* --- header.css ----------------------------------------------------------- */
#wrap2 {
    position: absolute;
    top: 150px;
}

#barBottom {
    background-color: #899ab9;
    left: 0;
    position: absolute;
    top: 100px;
}

#barBottomContainer {
    background-color: #899ab9;
    border: 1px #1e3e70;
//    border-top-style: solid;
    border-bottom-style: solid;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
    height: 24px;
    margin-bottom: 1.5em;
    position: relative;
    width: 100%;
}

.fixed {
    #header {
        border-bottom: 1px solid #000;
        margin-top: 24px;
        margin-bottom: 1.5em;
    }
    #barBottomContainer {
        position: fixed;
        top: 0px;
        z-index: 10000;
    }
}

#barBottomLeft, #barBottommiddle, #barBottomright {
    background-color: #899ab9;
    color: #fff;
    height: 24px;
    line-height: 24px;
    padding: 0;
    vertical-align: middle;
}

div#barBottomLeft {
    float: left;
    padding-left: 15px;
    white-space: nowrap;
}

div#barBottommiddle {
    background: url("@{image-path}/header/header_bottom_isolator.png") no-repeat;
    font-weight: bold;
    overflow: hidden;
    padding-left: 40px;    
}

div#barBottomright {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;

    &:before {
        #gradient > .directional(#899ab9, fade(#899ab9, 0%), 180deg);
        content: " ";
        left: -40px;
        height: 24px;
        position: absolute;
        width: 40px;
    }

    ul { padding-left: 0; }
}

div#barBottomright, #layout_footer {
    a {
        color: #dfdfdf;
        margin: 0 6px;
        text-decoration: none;

        &:hover { color: #fff; }
    }
    ul { margin: 0; }
    li {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        list-style-type: none;
        vertical-align: text-bottom;
    }
}

// "Generic" (for elements in #barBottomright) list style
#barBottomright {
    li {
        position: relative;  // So the list can be properly aligned
        &:hover .list {
            display: block;
            .item { opacity: 1; }
        }
    }
    .list {
        @width: 400px;
        @arrow-height: 10px;

        background-color: #eeeeee;
        border: thin solid #666;
        border-collapse: collapse;
        .border-radius(3px);
        color: #333333;
        display: none;
        font-size: 0.8em;
        margin-top: 10px;
        position: absolute;
        width: @width;
        max-width: @width;
        .box-shadow(0 0 8px rgba(0, 0, 0, 0.5));

        // Without this, buttons or message boxes would appear on top of the list
        z-index: 1;

        // Creates an arrow pointing from the list to the triggering element
        &:before {
            content:'';
            border-left: (@arrow-height + 1) solid transparent;
            border-right: (@arrow-height + 1) solid transparent;
            border-bottom: (@arrow-height + 1) solid #eeeeee;
            height: 0;
            width: 0;
            position: absolute;
            top: -@arrow-height;
            margin-left: -(@arrow-height / 2);
            z-index: 1;
        }

        // Insert invisible padding on top of the arrow in order to try to
        // close the "mouse trap gap" created by the arrow
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: -@arrow-height;
            left: 0;
            right: 0;
            height: @arrow-height;
            opacity: 0;
        }

        // Positions: below or left'ish or right'ish to the triggering element
        &.below {
            left: -(@width / 2 - 3);
            &:before {
                left: 50%;
            }
        }
        &.left {
            right: 0px;
            &:before { right: 4px; }
        }
        &.right {
            left: 0px;
            &:before { left: 4px; }
        }

        // List item
        .item {
            @padding: 4px;
            .clearfix();
            border-top: thin solid #333;
            display: block;
            height: auto;
            opacity: 0;
            .transition(~"background-color 0.5s, opacity 0.8s");
            padding: @padding;
            white-space: normal;
            width: @width - @padding * 2;

            &:hover { background-color: #ffffff; }

            // First child: no top-border and but rounded corners
            &:first-child {
                border-top: 0;
                .border-top-radius(5px);
            }
            // Last child: rounded corners
            &:last-child { .border-bottom-radius(5px); }
        }

        a {
            color: @brand-color-dark;
            display: block;
            padding: 3px;
            &:hover { color: @active-color; }
        }

        .options {
            cursor: pointer;
            float: right;
            margin: 0;

            &.hidden { visibility: hidden; }
        }
        .item:hover .options.hidden { visibility: visible; }
    }
}

#notification_marker {
    .border-radius(2px);
    .transition(all 1s);
    width: 18px;
    margin-top: 3px;
    height: 16px;
    font-size: 0.8em;
    border: thin solid white;
    text-align: center;
    line-height: 17px;
    vertical-align: text-bottom;
    opacity: 0.5;
    
    &.alert {
        opacity: 1;
        background-color: #f33;
        font-weight: bold;
    }
}

#notification_container {
    .avatar {
        float: left;
        margin-right: 0.5em;
        background-position: center center;
        background-size: 100%;
        width: 40px;
        height: 40px;
    }
}

div#barTopFont {
    color: #cccccc;
    font-size: 16pt;
    left: 15px;
    position: absolute;
    top: 10px;
}

div#barTopStudip {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 45px;

    &, img { border: none; }
}

div#barTopLogo {
    left: 0;
    position: absolute;
    top: 0;
}

div#header {
    #gradient > .vertical(#1e3e70, #36598f);
//    background: url("@{image-path}/background_header.png") repeat-x;
    height: 100px;
}

/* --- public course marker ------------------------------------------------ */
#barBottomContainer.public_course {
    background-color: #c53d3d;

    div#barBottommiddle, div#barBottomright, div#barBottomLeft {
        background-color: #c53d3d;
    }
    div#barBottommiddle { 
        background-image: url('@{image-path}/header/header_bottom_isolator_public.png');
    }
    #barBottomright:before {
        background: #c53d3d;
        #gradient > .vertical(rgba(197, 61, 61, 0), rgba(197, 61, 61, 1));
    }
}
