@helpbar-width: 250px;

.helpbar-container {
    background: #fff;
    clear: both;
    height: 3em;
    position: relative;
    width: 100%;

    #helpbar-sticky {
        display: none;
    }
    
    h2, h3 {
        border-bottom: 0;
        color: #fff;
        font-size: 1em;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 1.2em;
    }
    h3 {
        border-bottom: 1px dotted @base-color-80;
        font-size: 1.1em;
        margin-bottom: 2px;
        padding-bottom: 2px;
    }
}
.helpbar {
    .box-sizing(border-box);
    .box-shadow(1px 1px 0 @dark-gray-color-60);

    @border-width: 4px;
    background: @base-color;

    position: absolute;
    right: 12px;
    top: -1px;

    width: @helpbar-width;
    z-index: 1000;

    &:before {
        border-bottom: 2px solid @base-color-80;
        border-left: @border-width solid transparent;
        border-right: @border-width solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        top: -1px;
        left: 0;
        right: 0;
    }

    .helpbar-title {
        .retina-background-image('icons/24/white/question-circle.png', 'icons/48/white/question-circle.png', 24px);
        background-position: right top;
        background-repeat: no-repeat;
        margin: 4px 4px -2px;
        overflow: hidden;
        padding: 2px 0 10px 6px;

        label {
            cursor: pointer;
            display: block;
        }
    }
    .helpbar-widgets {
        color: #fff;
        list-style: none;
        margin: 0 10px;
        padding: 0;

        a {
            vertical-align: text-bottom;
        }
        a:link, a:visited {
            color: #fff;
        }
        a:hover, a:active {
            color: @light-gray-color-40;
            text-decoration: underline;
        }
        > li {
            border-top: 1px solid @content-color;
            padding: 2px 0 4px;
        }
    }
    .help-tours {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            .retina-background-icon('white/play.png');
            background-position: left 2px;
            background-repeat: no-repeat;
            display: block;
            padding-left: 20px;
            &.tour-paused {
                .retina-background-icon('white/pause.png');
            }
            &.tour-completed {
                .retina-background-icon('white/accept.png');
            }
        }
    }
}

.helpbar {
    @transition: all 0;

    width: 32px;
    text-indent: -@helpbar-width;
    .transition(@transition);

    .helpbar-widgets {
        max-height: 0;
        .transition(@transition);
        overflow: hidden;
    }

    #helpbar-sticky:checked + & {
        text-indent: 0;
        width: @helpbar-width;
        .helpbar-widgets {
            max-height: 1000px;
        }
    }
}