@helpbar-width: 180px;

.helpbar-container {
    background: #fff;
    border-radius: 0 2px 0 0;
    clear: both;
    height: 3em;
    position: relative;
    width: 100%;
}
.helpbar {
    .box-sizing(border-box);
    .box-shadow(1px 1px 0 @dark-gray-color-60);

    @border-width: 4px;
    background: @base-color;

    position: absolute;
    right: 12px;
    top: 0;

    width: @helpbar-width;
    z-index: 1000;

    &:before {
        border-bottom: @border-width solid @base-color-80;
        border-left: @border-width solid transparent;
        border-right: @border-width solid transparent;
        content: '';
        display: inline-block;
        position: absolute;
        top: -@border-width;
        left: 0;
        right: 0;
    }
}
.helpbar-title {
    .retina-background-image('icons/24/white/question-circle.png', 'icons/48/white/question-circle.png');
    background-position: right top;
    background-repeat: no-repeat;
    border-bottom: 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2px 4px 0;
    padding: 2px 0 10px 6px;
}
.helpbar-widgets {  
    color: #fff;
    list-style: none;
    margin: 0 10px;
    padding: 0;

    a:link, a:visited {
        color: #fff;
    }
    a:hover, a:active {
        color: @active-color;
    }
    li {
        border-top: 1px solid @content-color;
        padding: 2px 0 4px;
    }
}

.helpbar {
    @transition: 0;
    
    width: 32px;
    text-indent: -@helpbar-width;
    .transition(@transition);
    
    .helpbar-widgets {
        max-height: 0;
        .transition(@transition);
        overflow: hidden;
    }
    
    &:hover {
        text-indent: 0;
        width: @helpbar-width;
        .helpbar-widgets {
            max-height: 1000px;
        }
    }
}