/* --- Infobox -------------------------------------------------------------- */
#infobox_content {
    width: 100%;
}
table.infobox td {
    background-color: #dee2e8;
    text-align: left;
}

// prevent line box gap, see https://developer.mozilla.org/en/Images%2c_Tables%2c_and_Mysterious_Gaps
table.infobox td.infobox-img {
    background-color: white;
}
.infobox-img > div {
    min-height: 108px;
    min-width: 250px; 
    border-top-left-radius: 16px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

td.infobox-avatar {
    .size(125px, 250px);
    background-color: red;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    text-align: center;
}

td.infoboxrahmen {
    background-color: #dee2e8;
    border: 1px solid #ccc;
}

