// TODO: LESSify

/* --- Infobox -------------------------------------------------------------- */
table.infobox td {
    background-color: #dee2e8;
    text-align: left;
}

/* prevent line box gap, see https://developer.mozilla.org/en/Images%2c_Tables%2c_and_Mysterious_Gaps */
td.infobox-img img {
    display: block;
}

td.infobox-avatar {
    width: 250px;
    height: 125px;
    background-color: red;
    text-align: center;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

td.infoboxrahmen {
    border: 1px solid #CCCCCC;
    background-color: #dee2e8;
}

