// TODO: LESSify

@infobox-width: 250px;
@infobox-margin: 20px;
@infobox-padding: 20px;
@infobox-border-width: 1px;


/* --- Layouts -------------------------------------------------------------- */
#layout_page {
    .border-radius(0 0 2px 2px);
    clear: both;
    margin: 15px;
}

// for old pages without template layout
#layout_table {
    background-color: #fff;
    border: 20px solid #fff;
    margin: 0;
    padding: 0;
    width: 100%;

    td { vertical-align: top; }
}

#layout_container {
    .clearfix();
    background-color: white;
    .border-radius(0 0 2px 2px);
    .box-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    margin: 0;
    padding: 20px;
}

#layout_content {
    .clearfix();
    // Without the +1 zooming out would break the layout (weird behaviour, i know)
    margin-right: @infobox-width + @infobox-margin + @infobox-padding + @infobox-border-width + 1;
}

#layout_sidebar {
    .clearfix();
    background: inherit;
    border-left: 1px dashed @brand-color-darker;
    float: right;
    margin-left: @infobox-margin;
    padding-left: @infobox-padding;
    max-width: @infobox-width;
    position: relative;
    z-index: 1;
}

#layout_infobox {
    width: @infobox-width;
}

#layout_wrapper {
    clear: both;
    min-width: 800px; // 1024 breite ist minimum
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px; // the bottom margin is the negative value of the footer's height
}

#layout_push {
    clear: both;
    height: 25px; // must be the same height as #layout_footer
}

#layout_footer {
    background-color: @brand-color-lighter;
    border-top: 1px solid @brand-color-darker;
    clear: both;
    color: #fff;
    height: 24px;
    margin: 0;
    padding: 0 15px 0 0;
    text-align: right;
}
