// TODO: LESSify

@page-margin: 15px;

@infobox-width: 250px;
@infobox-padding: 12px;
@infobox-border-width: 1px;

@content-width: 400px;
@content-margin: 12px;

@site-width: (@page-margin * 2) + @infobox-width + (@infobox-padding * 2) + (@infobox-border-width * 2) + @content-width + (@content-margin * 2); 
@page-width: @infobox-width + (@infobox-padding * 2) + (@infobox-border-width * 2) + @content-width + (@content-margin * 2); 


/* --- Layouts -------------------------------------------------------------- */
#layout_page {
    .border-radius(0 0 2px 2px);
    clear: both;
    margin: @page-margin;
}

// for old pages without template layout
#layout_table {
    background-color: #fff;
    border: 20px solid #fff;
    margin: 0;
    padding: 0;
    width: 100%;

    td { vertical-align: top; }
}

#layout_container {
    background-color: white;
    .border-radius(0 0 2px 2px);
    margin: 0;
}

#layout_content {
    .scrollbox-horizontal();
    margin: 0 @content-margin @content-margin 20px;
    vertical-align: top;
    min-width: @content-width;
    
    .js & {
        overflow: visible;
    }
}

#layout_sidebar {
    background: inherit;
    border-left: 1px dashed @brand-color-darker;
    max-width: @infobox-width;
    width: @infobox-width;
    min-width: @infobox-width;
    padding: @infobox-padding;
}

#layout_infobox {
    width: @infobox-width;
}

#layout_wrapper {
    .clearfix;
    clear: both;
    min-width: 800px; // 800px breite ist minimum
    min-height: 100%;
    width: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

#layout_footer {
    background-color: @brand-color-lighter;
    border-top: 1px solid @brand-color-darker;
    clear: both;
    color: #fff;
    height: 25px;
    margin: 0;
    text-align: right;
}
#footer {
    color: #dfdfdf;
    float: left;
    margin: 4px;
}

#layout_wrapper {                // the main flex, dividing all elements into flexing rows
    .flex();
    .flex-direction-column();
    .flex-wrap(nowrap);
    .flex-align-content(stretch);
    .flex-align-items(stretch);
    .flex-justify-content();

    min-width: @site-width;

    #flex-header {              // first row of flex-main
        .flex();
        .flex-direction-row(); 
        .flex-wrap(nowrap);
        .flex-align-content(stretch);
        .flex-align-items(stretch);
        .flex-justify-content();

        width: 100%;
        min-width: @site-width;

        .flex-item(0,1);

        #header {                   // column 1 of flex-header
            .flex-item(1, 1);
        }

        #barTopStudip {             // column 2 of flex-header
            .flex-item(0,1);
        }
    }

    #barBottomContainer {       // second row of flex-main
        .flex-item(0, 1);

        min-width: @site-width;
    }

    #layout_page {              // third row of flex-main
        .flex();
        .flex-direction-column(); 
        .flex-wrap(nowrap);
        .flex-align-content(stretch);
        .flex-align-items(stretch);
        .flex-justify-content();

        .flex-item(10, 1);

        min-width: @page-width;

        #tabs, #tabs2 {                     // row 1 of layout_page
            min-height: 25px;
            float: none;
            .flex-item(0,1);
        }

        #layout_container {          // row 3 of layout_page
            .flex();
            .flex-direction-row(); 
            .flex-wrap(nowrap);
            .flex-align-content(stretch);
            .flex-align-items(stretch);
            .flex-justify-content();

            .flex-item(1, 1);
            min-width: @page-width;

            #layout_content {           // column 1 of layout_container
                .flex-item(1, 1);
            }

            #layout_sidebar {           // column 2 of layout_container
                .flex-item(0, 1);
            }

        }
    }

    #layout_footer {
        .flex-item(0,1);        // fourth row of flex-main
        min-width: @site-width;
    }

}

@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
       -moz-box-sizing: border-box;
    }

}
