/* --- main navigation ----------------------------------------------------- */
#barTopMenu {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45px;
    z-index: 3;

    li {
        float: left;
        list-style-type: none;
        min-width: 64px;
        padding: 0;
        z-index: 2;
    }
    a {
        color: #abb7ce;
        display: block;
        font-size: 12px;
        padding: 0 3px;
        text-align: center;
        line-height: 1.3em;

        // Icon state: normal
        span {
            background: no-repeat 0 0;
            display: inline-block;
            .size(32px, 32px);

            // Icon state: new
            &.new { background-position: -64px 0; }
        }

        img.original {
            margin-left: 6px;
            margin-right: 6px;
            margin-top: 4px;
            margin-bottom: 0px;
            width: 28px;
            height: 28px;
        }
        canvas.punch {
            display: none;
            margin: 0px;
            width: 42px;
            height: 32px;
        }
        &[data-badge]:not([data-badge="0"]) {
            position: relative;

            &.canvasready {
                img.original {
                    display: none;
                }
                canvas.punch {
                    display: inline-block;
                }
            }

            &:before, &:after {
                position: absolute;
                left: 50%;
                margin-left: 5px;
                top: 0;
            }

            // Just draw the badge
            &:before {
                background-color: @red;
                border-radius: 8px;
                content: ' ';
                display: inline-block;
                width: 16px;
                height: 16px;
            }

            // Write the text on top of the badge so it will never
            // expand the badge into regions we don't want.
            // Text may overflow into the icon. There's no good way
            // to prevent that...
            &:after {
                content: attr(data-badge);
                color: white;
                width: 16px;
                text-align: right;

                font-size: 10px;
                text-align: center;
                text-overflow: ellipsis;
                vertical-align: top;
                white-space: nowrap;
            }
        }
    }
    a:hover, li.active a {
        color: #fff;

        canvas, img {
            filter: url('filter.svg#brightness');
            filter: brightness(200%);
            -webkit-filter: brightness(200%);
        }

        // Icon state: hover
        span     { background-position: -32px 0; }
        // Icon state: hover and new
        span.new { background-position: -96px 0; }
    }
}
