#layout-sidebar {
    background: #fff;
    .flex-item(0, 1);
    position: relative;
    text-align: left;
    min-width: 270px;
}
.sidebar {
    background: #fff;
    border: 1px solid @dark-gray-color-60;
    border-left: 0;
    display: inline-block;
    flex: 0 0 auto;
    margin-bottom: 1em;
    position: relative;
    
    &:before {
        @border-width: 4px;
        border-right: @border-width solid @light-gray-color-40;
        border-top: @border-width solid transparent;
        border-bottom: @border-width solid transparent;
        content: '';
        display: block;
        left: -@border-width;
        top: 0;
        bottom: 0;
        position: absolute;
    }
}
.sidebar-image {
    position: relative;
    > img {
        display: block;
        width: 100%;
    }
    &-with-context {
        margin-bottom: 9px;
    }
}
.sidebar-context {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid @base-color-20;
    padding: 2px;
    max-height: 100px;
    position: absolute;
    bottom: -6px;
    right: 16px;
}
.sidebar-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.2em;
    padding: 5px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    .sidebar-image-with-context & {
        right: 120px;
    }
}
ul.widget-list {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        background-repeat: no-repeat;
        background-position: 0 1px;
        padding-left: 20px;
    }
}
.widget-links {
    margin: 5px;
    > li img {
        vertical-align: text-top;
    }
    a {
        display: block;
    }
    .widget-content a:only-child {
        .box-sizing(border-box);
        line-height: 16px;
    }
    span[disabled] {
        text-decoration: line-through;
    }
    &.sidebar-navigation > li {
        padding-left: 5px;
        &.active {
            background: @base-color-40;
            .box-shadow(inset 0 0 0 1px @base-color-60);
            #arrow > .right-border(floor(0.5 * @line-height-computed), @base-color-40, 1px, @base-color-60, -12px);

            display: block;

            a {
                color: #fff;
            }

            &:before, &:after {
                margin-left: -1px;
            }

            // Obtuse angle looks kinda ugly with borders
            &:before {
                border-left-width: floor(0.5 * @line-height-computed * 2 / 3);
            }
            &:after {
                border-left-width: floor(0.5 * @line-height-computed * 2 / 3) - 1;
            }
        }
    }
    &.sidebar-views > li {
        &.active {
            background: @activity-color-40;
            .box-shadow(inset 0 0 0 1px @activity-color);
            #arrow > .right-border(floor(0.5 * @line-height-computed), @activity-color-40, 1px, @activity-color);
            //#gradient > .directional(@brand-color-lighter, fadeout(@brand-color-lighter, 100%), 270deg);
            //#arrow > .right(floor(0.5*@line-height-computed), @brand-color-lighter, -14px);

            display: block;

            &:before, &:after {
                margin-left: -1px;
            }

            // Obtuse angle looks kinda ugly with borders
            &:before {
//                border-left-width: floor(0.5 * @line-height-computed * 2 / 3);
            }
            &:after {
//                border-left-width: floor(0.5 * @line-height-computed * 2 / 3) - 1;
            }
        }
    }
}

.sidebar-widget-cloud {
    margin: 0px;
    padding: 0px;
    > li { display: inline-block; }
    a.weigh-2 { font-size: 0.8em; }
    a.weigh-3 { font-size: 0.9em; }
    a.weigh-4 { font-size: 1.0em; }
    a.weigh-5 { font-size: 1.1em; }
    a.weigh-6 { font-size: 1.3em; }
    a.weigh-7 { font-size: 1.5em; }
    a.weigh-8 { font-size: 1.7em; }
    a.weigh-9 { font-size: 1.9em; }
    a.weigh-10 { font-size: 2.1em; }
}

.sidebar-widget {
    background: #fff;
    .clearfix;
}
.sidebar-widget-content {
    border-top: 1px solid @content-color-40;
    padding: 4px;
    transition: all 0.5s;
}

.sidebar {
    @width: 270px;

    padding-bottom: 7px;
    width: @width;
    z-index: 2;
    .transition(all 1s);

    .sidebar-image > img {
        width: @width;
    }
    .sidebar-widget, .sidebar-widget-placeholder {
        background: #fff;
        border: 1px solid @content-color-40;
        margin: 7px 5px 0;
    }
    .sidebar-widget-header {
        .clearfix();
        background: @content-color-20;
        color: @base-color-80;
        font-weight: bold;
        padding: 4px;
    }
    .sidebar-widget-options {
        float: right;
        opacity: 0;
        transition: all 0.5s;
    }
    .sidebar-widget:hover .sidebar-widget-options {
        opacity: 1;
    }
}

.sidebar-widget-header {
    .clearfix();
    .sidebar-widget-extra {
        float: right;
    }
}
.sidebar-widget .widget-options {
    list-style: none;
    margin: 0;
    padding: 0;
    
    > li {
        line-height: 1.5em;
        margin-left: 0;
        padding-left: 0;
    }
    
    .options-checkbox {
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        padding-left: 20px;
        
        &.options-checked {
            .retina-background-icon('blue/checkbox-checked.png');
        }
        &.options-unchecked {
            .retina-background-icon('blue/checkbox-unchecked.png');
        }
    }

    .options-radio {
        background-repeat: no-repeat;
        background-position: left 2px;
        display: block;
        padding-left: 20px;
        
        &.options-checked {
            .retina-background-icon('blue/radio-checked.png');
        }
        &.options-unchecked {
            .retina-background-icon('blue/radio-unchecked.png');
        }
    }
}

select.sidebar-selectlist {
    width: 100%;
}
.sidebar-search {
    input[type=search] {
        .box-sizing(border-box);
        border: 1px solid @base-color-60;
        border-right-width: 30px;
        float: left;
        height: 22px;
        width: 100%;
    }
    input[type=submit] {
        .hide-text();
        .size(20px, 29px);
        .retina-background-icon('white/search.png');
        float: left;
        background-position: center 3px;
        background-repeat: no-repeat;
        vertical-align: top;
        margin-left: -30px;
    }
    ul.needles {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            .clearfix(); 
        }
    }
    ul.filters {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
        }
    }
}

// TODO: Remove this ASAP!
.sidebar-widget.sidebar-infobox {
    border-color: @red;
    background: @light-gray-color-20;
    
    .sidebar-widget-header {
        background: @red-40;
    }
}