#sort1, #sort0, #sort3 {
    padding : 0 0px;
}
#admin_widget_container {
    padding-top: 1em;
    width: 100%;
}

#main, #choices {
    width: 99%;
    border: 1px solid @dark-gray-color-60;
}

.studip-widget-wrapper {
    margin: 0 0 20px;
    padding: 0;
}

.studip-widget {
    .widget-header {
        width:100%;
        background-color: @content-color-20;
        color: @brand-color-dark;
        font-size: 12pt;
        font-weight: bold;
        text-align: left;
        text-indent: 1ex;
        line-height: 2em;
    }

    .header-options {
        float:right;
        padding:0px 1ex 0px 0;
    }
    border-color: #d3d9e5;
    border-style: solid;
    border-width: 1px;

    section.contentbox {
        border: none;
        > header {
            display: none;
        }
    }
}

#widget_choices{
    border-right: 1px dashed @brand-color-darker;
    margin-right: 25px;
}
.start-widgetcontainer {
    padding: 0;
    margin-top: 0;
    width: 100%;
}

/* some improvements for ui_widget elements */
.ui-widget_start {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    padding: 0;
}

.ui-widget_columnl {
    float: left;    
    width: 100%;
}
.ui-widgetContainer {    
    color: white;
    background-image: none;    
}

.ui-widget_columnr {
    float: right;
}

.ui-widget_head {    
    line-height: 30px;

    text-align: center;
    color: white;
    font-size: 1.3em;
    background-color: #8899b8;
}

.ui-widget_head:hover {
    cursor:move;

}
.ui-widget_head h1 {
    line-height: 100px;    
    text-align: center;
    color: black;
}

.addclip-widgets {
    color: #000;
    list-style: none;
    margin: 0;
    padding: 0;

    a:link, a:visited {
        color: #000;
    }
    a:hover, a:active {
        color: @active-color;
    }

    li {
        border-top: 1px solid @content-color;
        padding: 4px 0;

        &:first-child {
            border-top: 0;
        }
    }
    p {
        margin-left: 25px;
    }
}


// Wirklich wichtiger Code
div.start-widgetcontainer {
    .flex();
    .flex-justify-content(space-between);
    .flex-align-items(stretch);

    ul {
        .box-sizing(border-box);
        display: inline-block;

        list-style-type: none;
        margin: 0;
        padding: 0;
        vertical-align: top;
        &:first-child {
            .flex-grow(2);
        }
        &:last-child {
            .flex-grow(1);
            margin-left: 20px;
        }
        &.empty {
            display: none;
        }
        &.move {
            border: @base-color-80 dashed 1px;
        }
    }
}