ul.studygroup-gallery {
    padding: 0;
    margin: 0;
    list-style: none;
    .flex();
    .flex-wrap(wrap);
    .flex-justify-content(space-between);
    li {
        text-align: center;
        margin: 5px;
        width: 200px;
        .box-sizing(border-box);
        .flex-item(1, 0);

        section {
            margin: 0 auto;

        }
    }
}