/*******************************************************************************
    Ergänzung-Stylesheet für Stud.IP im Safire-Design
    Hauptnavigation etc., also der obere Bereich
    //TODO: mit ins hauptstylesheet nehmen?
*******************************************************************************/
div#wrap2 {
    position: absolute;
    top: 150px;
}
div#barBottom {
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #899ab9;
}

div#barBottomContainer {
    display: table-row;
    width: 100%;
    background-color: #899ab9;
    border-color: #1e3e70;
    border-top-style: solid;
    border-bottom-style: solid;
}

div#barBottomLeft {
    background-color: #899ab9;
    padding:0 0 0 15px;
    height: 24px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    color: #ffffff;
    display: table-cell;
    border-color: #1e3e70;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

div#barBottommiddle {
    background-color: #899ab9;
    background: url('../images/header/header_bottom_isolator.png');
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: middle;
    height: 24px;
    width: 100%;
    padding: 0 0 0 40px;
    color: #ffffff;
    font-weight: bold;
    display: table-cell;
    border-color: #1e3e70;
    border-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
}

div#barBottomright {
    background-color: #899ab9;
    text-align: right;
    vertical-align: middle;
    height: 24px;
    float: right;
    white-space: nowrap;
    color: #ffffff; 
    display: table-cell;
    border-color: #1e3e70;
    border-width: 1px; 
    border-top-style: solid;
    border-bottom-style: solid;
}

div#barBottomright ul, #layout_footer ul {
    margin: 4px;
}

div#barBottomright li, #layout_footer li {
    display: inline;
    list-style-type: none;
}

div#barBottomright a, #layout_footer a {
    text-decoration: none;
    color: #dfdfdf;
    margin: 0 6px;
}

div#barBottomright a:hover, #layout_footer a:hover {
    color: #ffffff;
}

div#barTopFont {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16pt;
    color: #cccccc;
}

div#barTopStudip {
    position: absolute;
    top: 45px;
    right: 5px;
    text-align: right;
    border: none;
}
div#barTopStudip img {
    border: none;
}

div#barTopLogo {
    position: absolute;
    top: 0px;
    left: 0px;
}
div#header {
    height: 100px;
    background-image: url("../images/background_header.png");
    background-repeat: repeat-x;
}

/* --- public course marker ----------------------------------------------------*/

#barBottomContainer.public_course div#barBottommiddle,
#barBottomContainer.public_course div#barBottomright,
#barBottomContainer.public_course div#barBottomLeft {
    background-color: #C92C3C;
}

#barBottomContainer.public_course div#barBottommiddle {
    background-image: url('../images/header/header_bottom_isolator_public.png');
}

/* --- main navigation ------------------------------------------------------ */
#barTopMenu {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 3;
    margin: 0px;
    padding: 0px;
}

#barTopMenu li {
    float: left;
    list-style-type: none;
    padding: 0;
    min-width: 64px;
    z-index: 2;
}

#barTopMenu a {
    display: block;
    color: #ABB7CE;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#barTopMenu li.active a:hover, #barTopMenu a:hover, #barTopMenu li.active a {
    color: #fff;
}

/* normal icon */
#barTopMenu a span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

/* hover icon */
#barTopMenu a:hover span, #barTopMenu li.active a:hover span, #barTopMenu li.active a span {
    background-position: -32px 0px;
}

/* new icon */
#barTopMenu a span.new {
    background-position: -64px 0px;
}

/* new hover icon */
#barTopMenu a:hover span.new, #barTopMenu li.active a:hover span.new, #barTopMenu li.active a span.new {
    background-position: -96px 0px;
}
