/*******************************************************************************
    Ergänzung-Stylesheet für Stud.IP im Safire-Design
    Hauptnavigation etc., also der obere Bereich
    //TODO: mit ins hauptstylesheet nehmen?
*******************************************************************************/
div#wrap2 {
    position: absolute;
    top: 150px;
}
div#barBottom {
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #7387ac;
}
div#barBottomContainer {
    display: table-row;
    width: 100%;
    background-color: #7387ac;
}
div#barBottomLeft {
    background-color: #5d74a0;
    padding:0  15px;
    height: 1.4em;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    color: #a1b9c0;
    display: table-cell;
}

div#barBottommiddle {
    background-color: #7387ac;
    text-align: left;
    vertical-align: middle;
    height: 1.4em;
    width: 100%;
    padding: 0 0 0 1ex;
    color: #ffffff;
    font-weight: bold;
    display: table-cell;
}

div#barBottomright {
    background-color: #7387ac;
    text-align: right;
    vertical-align: top;
    height: 1.4em;
    float: right;
    white-space: nowrap;
    display: table-cell;
}

div#barBottomright ul {
    margin: 0px;
    padding-bottom: 0px;
}
div#barBottomright li {
    display: inline;
    list-style-type: none;
}
div#barBottomright a {
    text-decoration: none;
    color: #e3e3e3;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0.19em;
}
div#barBottomright a:hover {
    color: #FFF;
    background-image: url('../images/fill1.gif');
}

div#barBottomshadow {
    padding-top: 20px;
    background-image: url('../images/header_schatten.png');
}

div#barTopFont {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16pt;
    color: #cccccc;
}

div#barTopTools ul {
    margin: 0px;
    padding: 0px;
}
div#barTopTools li {
    display: inline;
    list-style-type: none;
    font-size: 9pt;
}
div#barTopTools a {
    text-decoration: none;
    font-weight: bold;
    color: #7387ac;
    padding-left: 6px;
    padding-right: 6px;
}
div#barTopTools a:hover {
    color: #FFF;
    background-image: url('../images/fill1.gif');
}
div#barTopTools {
    position: absolute;
    top: 2px;
    right: 2px;
    text-align: right;
}

div#barTopStudip {
    position: absolute;
    top: 50px;
    right: 5px;
    text-align: right;
    border: none;
}
div#barTopStudip img {
    border: none;
}

div#barTopLogo {
    position: absolute;
    top: 0px;
    left: 0px;
}
div#header {
    height: 100px;
    background-image: url("../images/headerbackground4.jpg");
    background-repeat: repeat-x;
}

/* --- main navigation ------------------------------------------------------ */
#barTopMenu {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 3;
    margin: 0px;
    padding: 0px;
}

#barTopMenu li {
    float: left;
    list-style-type: none;
    padding: 0;
    min-width: 64px;
    z-index: 2;
}

#barTopMenu a {
    display: block;
    color: #7387ac;
    padding: 0px 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#barTopMenu li.active a:hover, #barTopMenu a:hover, #barTopMenu li.active a {
    color: #fff;
}

/* normal icon */
#barTopMenu a div {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: auto auto 4px auto;
}

/* new icon */
#barTopMenu a div.new {
    background-position: -32px 0px;
}

/* hover icon */
#barTopMenu a:hover div, #barTopMenu li.active a:hover div, #barTopMenu li.active a div {
    background-position: -64px 0px;
}

/* new hover icon */
#barTopMenu a:hover div.new, #barTopMenu li.active a:hover div.new, #barTopMenu li.active a div.new {
    background-position: -96px 0px;
}
