body {
    background: #1e3e70 url("../images/background.png") repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

div.modaloverlay {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); 
}

div.schedule_entry dl.hover:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity = 70);
}

div.invisible_entry {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity = 80);
}

div#schedule-settings-dialog-shadow {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity = 70);
}

a.button.disabled, button.button.disabled,
a.button[disabled], button.button[disabled] {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity = 65);
}
div#barBottomleft:before, #barBottomContainer.public_course div#barBottomleft:before {
    content:"";
    border: 0;
}
div#barBottommiddle {
    background-image: url("../images/header/header_bottom_isolator.png");
    background-position: left center;
    background-repeat: no-repeat;
}
div#barBottommiddle:before {
    width: 0;
}
#barBottomContainer.public_course div#barBottommiddle {
    background-image: url("../images/header/header_bottom_isolator_public.png");
}