/*******************************************************************************
    Wann und wofür wird diese benötigt? redundant?
*******************************************************************************/

A:visited {	color:#3333BB; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:link {	color:#3333BB; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:hover {	color: #FF3333; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:active {color: #FF3333; text-decoration : none; font-family: Arial, Helvetica, sans-serif;}

TABLE.links1 {	background-color: #FFFFFF;}

A:link.links1 {	color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:visited.links1 {color: #000000; text-decoration: none;font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size:10pt;}
A:hover.links1 {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

A:link.links1b { color: #000000; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:visited.links1b { color: #000000; text-decoration : none; font-family: Arial, Helvetica, sans-serif; font-weight: bold;font-size:10pt;}
A:hover.links1b {color: #FF3333;text-decoration: none;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size:10pt;}

TD.links1b {background-image: url('../images/steel1.jpg');}
TD.links1 {background-image: url('../images/fill2.gif');}
TD.reiterunten {background: url('../images/reiter3.jpg');}

table.header { background-image: url('../images/fill1.gif');}
TD.topic {border:0px solid #000000; background: url('../images/fill1.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#4A5681  }
TD.topicwrite {border:0px solid #000000; background: url('../images/fill1write.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#4A5681  }
TD.header {background: url('../images/fill1.gif');}
TD.angemeldet {border-style: solid; border-color: #000000;  border-width: 1px;}
TD.rahmen_white {border-style: solid; border-color: #000000;  border-width: 1px; background-color: #FFFFFF; background-image: url('../images/blank.gif');}
TD.rahmen_steel {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steel1.jpg');}
TD.rahmen_steelgraulight {border-style: solid; border-color: #000000;  border-width: 1px; background-image: url('../images/steelgraulight.jpg');}
TD.quote {border-style: solid; border-color: #000000;  border-width: 1px; font-size:8;}
TD.nix {background-color: transparent;}
TD.aufklapp {background-color : #FFFAEE;}

BODY { background-color: #91A2B6; font-family: Arial, Helvetica, sans-serif}
/*
BODY { background-color: white; background : url('../images/bathtile.jpg'); font-family: Arial, Helvetica, sans-serif}
*/
TABLE.blank {	background-color: white;}

TD.blank {background-color: #FFFFFF;}
th   { border:0px solid #000000; background:#B5B5B5 url('../images/steelgraudunkel.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#B5B5B5  }
p, td, form, ul {font-family: Arial, Helvetica, sans-serif;	color: #000000 }
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif;	color: #990000;	font-weight: bold; }
h1.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.6em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}
h2.topic, h3.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.2em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}

.gruppe0 {background: none; background-color: #FFFFFF;}
.gruppe1 {background: none; background-color: #FF0000;}
.gruppe2 {background: none; background-color: #FF9933;}
.gruppe3 {background: none; background-color: #FFCC66;}
.gruppe4 {background: none; background-color: #99FF99;}
.gruppe5 {background: none; background-color: #66CC66;}
.gruppe6 {background: none; background-color: #6699CC;}
.gruppe7 {background: none; background-color: #666699;}

.steelgroup0 {background-image: url('../images/steelgroup0.gif');}
.steelgroup1 {background-image: url('../images/steelgroup1.gif');}
.steelgroup2 {background-image: url('../images/steelgroup2.gif');}
.steelgroup3 {background-image: url('../images/steelgroup3.gif');}
.steelgroup4 {background-image: url('../images/steelgroup4.gif');}
.steelgroup5 {background-image: url('../images/steelgroup5.gif');}
.steelgroup6 {background-image: url('../images/steelgroup6.gif');}
.steelgroup7 {background-image: url('../images/steelgroup7.gif');}

.grey {background: none; background-color: #BBBBBB;	font-family: Arial, Helvetica, sans-serif;}
.steel {background-image: url('../images/steelblau.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steelgraudunkel {background-image: url('../images/steelgraudunkel.gif');	font-family: Arial, Helvetica, sans-serif;}
.steelgraulight {background-image: url('../images/steelgraulight.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steel2 { background-color: #FFFFFF; background-image: url('../images/steel2.jpg');	font-family: Arial, Helvetica, sans-serif;}
.steel1 { background-color: #FFFFFF; background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}
.quote {margin-left: 20px; padding:3px; margin-right: 8em; border: 1px solid black; background: none; background-color: #EEEEEE;}

/* Styles fuer printhead und printcontent */
td.printhead {background-image: url('../images/steelblau.jpg');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printhead2 {background-image: url('../images/steelblau2.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printhead3 {background-image: url('../images/steelblau3.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.colorline {background-image: url('../images/colorline.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.colorline2 {background-image: url('../images/colorline2.gif');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
A:link.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
A:visited.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
a.printhead {color:#333399;  font-family: Arial, Helvetica, sans-serif; font-size:10pt}
td.printcontent {background-image: url('../images/steel1.jpg');  font-family: Arial, Helvetica, sans-serif; font-size:10pt}

/* Styles fuer Terminkalender */
a.day {color: #3333DD; font-weight: bold;}
a.sday {color :#DD0000; font-weight: bold;}
a.hday {color :#DD5555; font-weight: bold;}
a.kw {color: #000000; font-weight: bold;}
a.daymin {color: #3333DD; font-size: 10pt; font-weight: bold;}
a.sdaymin {color: #DD0000; font-size: 10pt; font-weight: bold;}
a.hdaymin {color: #DD5555; font-size: 10pt; font-weight: bold;}
font.kwmin {color: #000000; font-size: 10pt; font-weight: bold;}
a.lightday {color: #8888DD; font-weight: bold;}
a.lightsday {color: #DDAAAA; font-weight: bold;}
a.lighthday {color: #DDAAAA; font-weight: bold;}
a.lightdaymin {color: #8888DD; font-size: 10pt; font-weight: bold;}
a.lightsdaymin {color: #DDAAAA; font-size: 10pt; font-weight: bold;}
a.lighthdaymin {color: #DDAAAA; font-size: 10pt; font-weight: bold;}
.inday {font-size: 10pt;}
th.cal {font-size: 16pt;}
th.precol1 {font-size: 12pt;}
th.inccal {font-size: 10pt;}
a.precol1 {font-size: 10pt;}
a.precol2 {font-size: 8pt; font-weight: normal;}
td.weekend {background-image: url('../images/steelgroup0.gif');}
td.weekday {background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}
td.current {border-width: 2px; border-style: solid; border-color: #DD0000;}
td.month {background-image: url('../images/steelgroup0.gif');}
td.lightmonth{background-image: url('../images/steel1.jpg');	font-family: Arial, Helvetica, sans-serif;}