/*******************************************************************************
    Druck-Stylesheet fï¿½r Stud.IP
*******************************************************************************/
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: none;
    background: none;
    height: auto;
}

a:visited, a:link, a:hover, a:active {
    text-decoration: none;
}

td.angemeldet {
    border: 1px solid #000000;
}

td.rahmen_white {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    background-image: none;
}

td.rahmen_steel {
    border: 1px solid #000000;
    background-color: #f3f5f8;
}

td.rahmen_steelgraulight {
    border: 1px solid #000000;
    background-color: #ebebeb;
}

.hidden {
    display: none;
}

/* --- print-style for calendar api------------------------------------------ */

#schedule {
    width: 100%;
    height: 100%;
}

#schedule_headings {
    margin-left: 41px;
    background-color: none;
}

table.schedule_headings td {
    background-color: none;
}

div.schedule_entry {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 2px;
    font-size: 11px;
    color: #000000;
}

div.schedule_entry dl {
    height: 100%;
    margin: 0px;
    color: black ! important;
    background-image: none ! important;
}

div.schedule_entry dl.hover:hover {
    opacity: 1;
}

div.schedule_entry dl dd {
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    word-wrap: break-word;
}

div.schedule_entry dl dt {
    background-color: transparent ! important;
}

div.schedule_entry dl a:hover {
    text-decoration: underline;
}

div.snatch {
    position: absolute;
    bottom: 4px;
    text-align: center;
    width: 100%;
    cursor: ns-resize;
    padding-bottom: 2px;
}

#new_entry {
    position: absolute;
    border: 2px solid #E0E0F0;
    width: 400px;
    height: 230px;
    background-color: #E8EEF7;
    font-size: 12pt;
}

div.new_entry {
    position: absolute;
    left: 50%;
    top: 180px;
    margin-left: -25%;
    height: 320px;
    width: 50%;
    font-size: 12pt;
    background-color: #E8EEF7;
    border: 2px solid #E0E0F0;
}

div.window_heading {
    font-weight: bold;
    text-align: center;
    background-image: url('../images/fill1.gif');
    color: #FFF;
    cursor: move;
    padding: 2px;
}

#layout_content {
    margin-right: 0px;
}
/*zeige stud.ip-title oben rechts*/
div#barTopFont
{
	font-weight:normal;
	display:block !important;
	font-size:1.8em;
	text-align:right;
	width:100%;
	padding:0;
	margin:0;
	text-style: italic !important;
 
}
/*studip-logo im footer - das sehen die internetausdrucker*/
div#layout_footer *
{
	display:none;
}
div#layout_footer
{
	width:100%;
	text-align:center;
	margin-top:6em;
}

div#layout_footer:after {
    
    content:  url('http://localhost/studip-trunk/assets/images/logos/logo2b.gif');
}
/*ende studip-logo */

h1,h2,h3,h4
{
	font-size:1.5em;
	}

#header *, #barTopMenu, #barTopTools,
#barTopStudip, #barBottomLeft, #barBottommiddle,
#barBottomright, #barBottomshadow, #tabs, #tabs2,
#layout_infobox,td.infoboxrahmen,td.infobox, td.infobox-img, #schedule_icons, #edit_inst_entry,
#layout_sidebar, #barBottomContainer,
#layout_push, .messagebox_buttons a.close, a.button, button.button {
    display: none !important;
}

img
{
	border:0;
}

a, a:link, a:visited {
    color: black;
}

body, input, textarea, td, th, blockquote, p, form, ul {
    font-size: 10pt;
}

div.schedule_day {
    border-right: 1px solid black;
}