/*******************************************************************************
    Wann und wofür wird diese benötigt? redundant?
*******************************************************************************/

A:visited {	color:#213499; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:link {	color:#213499; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:hover {	color: #FF3333; text-decoration : none;	font-family: Arial, Helvetica, sans-serif;}
A:active {color: #FF3333; text-decoration : none; font-family: Arial, Helvetica, sans-serif;}

table {background-color:#FFFFFF}

TD.topic {border:0px solid #000000; background-image: url('../images/fill1.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#4A5681  }

BODY { background-color: #91A2B6; font-family: Arial, Helvetica, sans-serif}

TABLE.blank {	background-color: white;}

TD.blank {background-color: #FFFFFF;}
th   { border:0px solid #000000; background:#B5B5B5 url('../images/steelgraudunkel.gif'); color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; background-color:#B5B5B5  }
p, td, form, ul {font-family: Arial, Helvetica, sans-serif;	color: #000000 }
h1, h2, h3 { font-family: Arial, Helvetica, sans-serif;	color: #213499;	font-weight: bold; }
h1.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.6em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}
h2.topic, h3.topic { font-family: Arial, Helvetica, sans-serif; color: #FFFFFF; font-weight: bold; font-size: 1.2em; margin-bottom: 0.1em; margin-top: 0.1em; padding: 0.1em; line-height: 1em}