/*******************************************************************************
  Standard-Stylesheet für Stud.IP im Safire-Design
  - use http://www.colorzilla.com/gradient-editor/ for gradients
*******************************************************************************/
html, body {
    height: 100%;
}

html {
    overflow-y: scroll;
}

/* --- Schrift (Vorgaben: Typ, Größe, Farbe) -------------------------------- */
body, input, textarea {
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
}

/* --- Standardvorgaben ----------------------------------------------------- */
/* //TODO: the Body-Background color should be similar to A:link.toolbar and A:visited.toolbar for best effect!! */
body {
    margin: 0;
    background: #1e3e70 url('../images/background.png') repeat-x;
}

th {
    border-bottom: 1px solid #aaaaaa;
    padding: 4px;
    background-color: #d1d1d1;
    color: #000000;
}

th a, th a:link, th a:visited {
    color: #000000;
}

h1, h2, h3 {
    font-weight: bold;
}

blockquote {
    padding: 10px;
    margin: 0;
}

input.placeholder, ::-webkit-input-placeholder, :-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

/* --- Überschriften -------------------------------------------------------- */
h1.content, h2.content, h3.content {
    color: #24437c;
}

hr.content {
    margin: 0 1em;
}

table.content {
    border-collapse: collapse;
}

table.content td {
    border: thin solid #666;
    font-size: smaller;
    padding: 3px;
}

div.indent {
    margin-left: 2em;
}

h1.topic {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
    line-height: 1em;
}

h2.topic, h3.topic {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
    line-height: 1em;
}

.topic {
    border: 0;
    border-bottom: 1px solid #1E3E70;
    background-color: #899AB9;
    color: #FFFFFF;
    font-size: 12pt;
    padding: 3px 5px;
}

.topic img {
    vertical-align: middle; /* for the topic-icons */
}

/* --- Links ---------------------------------------------------------------- */
a, a:link, a:visited {
    color: #24437c;
    text-decoration: none;
}

a:link.index, a:visited.index {
    color: #444444;
}

a:link.tree, a:visited.tree {
    color: #000000;
}

a:link.toolbar, a:visited.toolbar {
    color: #91A2B6;
    font-size: 9px;
}

a:hover, a:active, a:hover.index, a:active.index, a:hover.tree {
    color: #FF3333;
    text-decoration: none;
}

a:hover.toolbar {
    color: #EEEEEE;
}

a.link-intern {
    padding-left: 18px;
    background: url('../images/icons/16/blue/link-intern.png') no-repeat;
}

a.link-extern {
    padding-left: 18px;
    background: url('../images/icons/16/blue/link-extern.png') no-repeat;
}

a img {
    border: 0;
}

a:link.printhead {
    color: #333399;
}

a:visited.printhead {
    color: #333399;
}

a.printhead {
    color: #333399;
}

/* --- header.css ----------------------------------------------------------- */
div#wrap2 {
    position: absolute;
    top: 150px;
}

div#barBottom {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #899ab9;
}

div#barBottomContainer {
    background-color: #899ab9;
    border: 1px #1e3e70;
    border-top-style: solid;
    border-bottom-style: solid;
    width: 100%;
    height: 24px;
    margin-bottom: 1.5em;
    position: relative;
}

#barBottomLeft, #barBottommiddle, #barBottomright {
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    background-color: #899ab9;
    color: #ffffff;
    padding: 0;
}

div#barBottomLeft {
    float: left;
    padding-left: 15px;
    white-space: nowrap;
}

div#barBottommiddle {
    overflow: hidden;
    background: url('../images/header/header_bottom_isolator.png') no-repeat;
    padding-left: 40px;
    font-weight: bold;
}

div#barBottomright {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
}

#barBottomright:before {
    position: absolute;
    left: -40px;
    width: 40px;
    height: 24px;
    content: " ";
}

#barBottomright:before {
    background: #899ab9;
    background: -moz-linear-gradient(top,  rgba(137,154,185,0) 0%, rgba(137,154,185,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,154,185,0)), color-stop(100%,rgba(137,154,185,1)));
    background: -webkit-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: -o-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: -ms-linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    background: linear-gradient(top,  rgba(137,154,185,0) 0%,rgba(137,154,185,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00899ab9', endColorstr='#899ab9',GradientType=0 );
}

div#barBottomright ul {
    padding-left: 0;
}

div#barBottomright ul, #layout_footer ul {
    margin: 0;
}

div#barBottomright li, #layout_footer li {
    display: inline;
    list-style-type: none;
    height: 24px;
    line-height: 24px;
}

div#barBottomright li input {
    vertical-align: text-bottom;
}

div#barBottomright a, #layout_footer a {
    text-decoration: none;
    color: #dfdfdf;
    margin: 0 6px;
}

div#barBottomright a:hover, #layout_footer a:hover {
    color: #ffffff;
}

div#barTopFont {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 16pt;
    color: #cccccc;
}

div#barTopStudip {
    position: absolute;
    top: 45px;
    right: 5px;
    text-align: right;
    border: none;
}

div#barTopStudip img {
    border: none;
}

div#barTopLogo {
    position: absolute;
    top: 0;
    left: 0;
}

div#header {
    height: 100px;
    background: url("../images/background_header.png") repeat-x;
}

/* --- public course marker ------------------------------------------------ */
#barBottomContainer.public_course,
#barBottomContainer.public_course div#barBottommiddle,
#barBottomContainer.public_course div#barBottomright,
#barBottomContainer.public_course div#barBottomLeft {
    background-color: #C53D3D;
}

#barBottomContainer.public_course div#barBottommiddle {
    background-image: url('../images/header/header_bottom_isolator_public.png');
}

#barBottomContainer.public_course #barBottomright:before {
    background: #C53D3D;
    background: -moz-linear-gradient(top,  rgba(197,61,61,0) 0%, rgba(197,61,61,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,61,61,0)), color-stop(100%,rgba(197,61,61,1)));
    background: -webkit-linear-gradient(top,  rgba(197,61,61,0) 0%,rgba(197,61,61,1) 100%);
    background: -o-linear-gradient(top,  rgba(197,61,61,0) 0%,rgba(197,61,61,1) 100%);
    background: -ms-linear-gradient(top,  rgba(197,61,61,0) 0%,rgba(197,61,61,1) 100%);
    background: linear-gradient(top,  rgba(197,61,61,0) 0%,rgba(197,61,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c53d3d', endColorstr='#c53d3d',GradientType=0 );

}

/* --- main navigation ----------------------------------------------------- */
#barTopMenu {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 3;
    margin: 0;
    padding: 0;
}

#barTopMenu li {
    float: left;
    list-style-type: none;
    padding: 0;
    min-width: 64px;
    z-index: 2;
}

#barTopMenu a {
    display: block;
    color: #ABB7CE;
    padding: 0 3px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

#barTopMenu li.active a:hover, #barTopMenu a:hover, #barTopMenu li.active a {
    color: #fff;
}

/* normal icon */
#barTopMenu a span {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: no-repeat 0 0;
}

/* hover icon */
#barTopMenu a:hover span, #barTopMenu li.active a:hover span, #barTopMenu li.active a span {
    background-position: -32px 0;
}

/* new icon */
#barTopMenu a span.new {
    background-position: -64px 0;
}

/* new hover icon */
#barTopMenu a:hover span.new, #barTopMenu li.active a:hover span.new, #barTopMenu li.active a span.new {
    background-position: -96px 0;
}

/* --- Layouts -------------------------------------------------------------- */
#layout_page {
    margin: 15px;
    clear: both;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}

#layout_container {
    background-color: white;
    padding: 20px;
    margin: 0;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#layout_content {
    /*margin-right: 291px;*/
    overflow: auto;
}

/* for old pages without template layout */
#layout_table {
    width: 100%;
    background-color: white;
    border: 20px solid #fff;
    margin: 0;
    padding: 0;
}

/* for old pages without template layout */
#layout_table td {
    vertical-align: top;
}

#layout_sidebar {
    float: right;
    padding-left: 20px;
    border-left: 1px dashed #1E3E70;
    margin-left: 20px;
}

#layout_infobox {
    width: 250px;
}

#layout_wrapper {
    clear: both;
    min-width: 900px; /* 1024 breite ist minimum */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -25px; /* the bottom margin is the negative value of the footer's height */
}

#layout_push {
    clear: both;
    height: 25px; /* must be the same height as #layout_footer */
}

#layout_footer {
    clear: both;
    margin: 0;
    border-top: 1px solid #1E3E70;
    padding: 0 15px 0 0;
    background-color: #899AB9;
    color: #FFF;
    text-align: right;
    height: 24px;
}

/* --- Infobox -------------------------------------------------------------- */
table.infobox td {
    background-color: #dee2e8;
    text-align: left;
}

/* prevent line box gap, see https://developer.mozilla.org/en/Images%2c_Tables%2c_and_Mysterious_Gaps */
td.infobox-img img {
    display: block;
}

td.infobox-avatar {
    width: 250px;
    height: 125px;
    background-color: red;
    text-align: center;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

td.infoboxrahmen {
    border: 1px solid #CCCCCC;
    background-color: #dee2e8;
}

/* --- media preview -------------------------------------------------------- */
img.preview, video.preview, audio.preview {
    max-height: 500px;
    max-width: 750px;
}

/* --- Tabellen ------------------------------------------------------------- */
table.header {
    background-color: #899ab9;
}

table.links1 {
    background-color: #FFFFFF;
}

table.toolbar, td.toolbar, .steel, td.printhead {
    border-top: 1px solid #899ab9;
    background: #cdd9ed;
    background: -moz-linear-gradient(top,  #cdd9ed 0%, #e3eaf6 40%, #e3eaf6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdd9ed), color-stop(40%,#e3eaf6), color-stop(100%,#e3eaf6));
    background: -webkit-linear-gradient(top,  #cdd9ed 0%,#e3eaf6 40%,#e3eaf6 100%);
    background: -o-linear-gradient(top,  #cdd9ed 0%,#e3eaf6 40%,#e3eaf6 100%);
    background: -ms-linear-gradient(top,  #cdd9ed 0%,#e3eaf6 40%,#e3eaf6 100%);
    background: linear-gradient(top,  #cdd9ed 0%,#e3eaf6 40%,#e3eaf6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd9ed', endColorstr='#e3eaf6',GradientType=0 );
    line-height: 17pt;
    height: 25px;
}

td.toolbar:last-child, .steel:last-child, td.printhead:last-child {
    padding-right: 5px;
}

td.toolbar img, .steel img, td.printhead img {
    padding: 0 2px;
    vertical-align: text-bottom;
}

.draggable {
    margin-top: 4px;
}

.draggable_folder {
    margin-bottom: 3px;
}

table.default {
    border-collapse: collapse;
    width: 100%;
}

table.default th {
    padding: 3px;
    text-align: left;
}

table.default td {
    padding: 3px;
}

td.topicwrite {
    border: none;
    background-color: #c02a2a;
    color: #FFFFFF;
    height: 20px;
}

td.angemeldet {
    border: 1px solid #000000;
}

td.rahmen_white {
    border: 1px solid #000000;
    background: #FFFFFF;
}

td.rahmen_steel {
    border: 1px solid #000000;
    background-color: #f3f5f8;
}

td.rahmen_steelgraulight {
    border: 1px solid #000000;
    background-color: #e7ebf1;
}

td.quote {
    border: 1px solid #000000;
    font-size: 8px;
}

td.nix {
    background-color: transparent;
}

td.aufklapp {
    background-color: #FFFAEE;
}

table.blank, td.blank, td.onlineinfo, td.blanksmall {
    background-color: #FFFFFF;
}

tr.cycle_odd {
    background-color: #f3f5f8;
}

tr.cycle_even {
    background-color: #e7ebf1;
}

tr.cycle_odd:hover {
    background-color: #CED8F2;
}

tr.cycle_even:hover {
    background-color: #B7C2E2;
}

td.tree-indent img {
    vertical-align: bottom;
}

td.tree-elbow-line {
    width: 5px;
    vertical-align: bottom;
    background: url(../images/datatree_1.gif) repeat-y;
}

td.tree-elbow-end {
    width: 5px;
    vertical-align: top;
    white-space: nowrap;
}

td.tree-elbow-line img,
td.tree-elbow-end img {
    display: block;
}

/* --- table.collapsable ---------------------------------------------------- */
.collapsable > .collapsed > tr {
    display: none;
}

.collapsable .collapsed .header-row {
    display: table-row !important;
}

* + html .collapsable .collapsed .header-row {
    display: inline-block !important;
}

.collapsable .header-row > td {
    border-bottom: 0;
    padding-left: 0;
}

.collapsable td.label-cell,
.collapsable .toggle-indicator a,
.collapsable .empty .toggle-indicator {
    padding-left: 20px;
}

.collapsable .toggle-indicator {
    color: #000;
    font-weight: bold;
}

.collapsable .toggle-indicator a {
    background: url(../images/icons/16/blue/arr_1down.png) left center no-repeat;
    color: #000;
    cursor: pointer;
}

.collapsable .empty .toggle-indicator a {
    background: url(../images/icons/16/grey/arr_1right.png) left center no-repeat;
}

.collapsable .collapsed .toggle-indicator a {
    background-image: url(../images/icons/16/blue/arr_1right.png);
    cursor: pointer;
}

/* --- Table details -------------------------------------------------------- */
.loaded-details > td {
    padding: 0 20px 5px 20px !important;
}

.loaded-details table {
    border: 1px solid #888;
    border-top: 0;
}

/* --- Sonstige ------------------------------------------------------------- */
.gruppe0 {
    background: #FFFFFF;
}

.gruppe1 {
    background: #FF0000;
}

.gruppe2 {
    background: #FF9933;
}

.gruppe3 {
    background: #FFCC66;
}

.gruppe4 {
    background: #99FF99;
}

.gruppe5 {
    background: #66CC66;
}

.gruppe6 {
    background: #6699CC;
}

.gruppe7 {
    background: #666699;
}

.gruppe8 {
    background: #000000;
}

.white {
    background: #FFFFFF none;
}

.lightgrey {
    background: #F8F8F8 none;
}

.grey {
    background: #BBBBBB none;
}

.steelgraudunkel {
    background-image: url('../images/steelgraudunkel.gif');
}

.steelgraulight_shadow {
    background-color: #cecece;
    border-top: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
}

.steelkante, .steelkante td {
    background-color: #e5e5e5;
    border-top: 1px solid #5a5a5a;
}

/* Standardhintergrund fuer Button-Leite unterhalb von Tabellen, Umbenennen: button_footer */
.steel2, .steel2 td {
    background-color: #e9e9e9;
    border-top: 1px solid #c8c8c8;
}

/* hellerer Standardhintergrund, überall umbenennen! */
.steel1 {
    background-color: #f3f5f8;
}

/* dunklerer Standardhintergrund, überall umbenennen! */
.steelgraulight {
    background-color: #e7ebf1;
}

.steelblau_schatten {
    background-color: #dfe2e9;
    border-left: 1px solid #cccccc;
}

.category_divider {
    border-top: 1px solid #D0D0D0;
    background-image: url('../images/background_stripes.jpg');
}

.blue_gradient {
    border-top: 2px solid #97a6cf;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b8c6db), to(#cedbef));
    background-image: -webkit-linear-gradient(top, #b8c6db 0%, #cedbef 60%, #cedbef 100%);
    background-image: -moz-linear-gradient(top, #b8c6db 0%, #cedbef 60%, #cedbef 100%);
    background-image: -ms-linear-gradient(top, #b8c6db 0%, #cedbef 60%, #cedbef 100%);
    background-image: -o-linear-gradient(top, #b8c6db 0%, #cedbef 60%, #cedbef 100%);
    background-image: linear-gradient(top, #b8c6db 0%, #cedbef 60%, #cedbef 100%);
    *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#b8c6db', endColorstr = '#cedbef');
}

.red_gradient {
    border-top: 2px solid #b35357;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3969a), to(#e8b6b9));
    background-image: -webkit-linear-gradient(top, #e3969a 0%, #e8b6b9 60%, #e8b6b9 100%);
    background-image: -moz-linear-gradient(top, #e3969a 0%, #e8b6b9 60%, #e8b6b9 100%);
    background-image: -ms-linear-gradient(top, #e3969a 0%, #e8b6b9 60%, #e8b6b9 100%);
    background-image: -o-linear-gradient(top, #e3969a 0%, #e8b6b9 60%, #e8b6b9 100%);
    background-image: linear-gradient(top, #e3969a 0%, #e8b6b9 60%, #e8b6b9 100%);
    *filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#e3969a', endColorstr = '#e8b6b9');
}

.quote {
    margin-left: 20px;
    padding: 3px;
    margin-right: 20px;
    border: 1px solid black;
    background: #EEEEEE none;
}

.steelgelb {
    background-image: url('../images/plastic_yellow.jpg');
}

.steelgreen {
    background-image: url('../images/plastic_green.jpg');
}

.steelred {
    background-image: url('../images/plastic_red.jpg');
}

.semtree li {
    padding-bottom: 5px;
    list-style: none;
    font-weight: bold;
}

/* descriptional texts */
p.info {
    padding: 10px;
    margin: 0;
}

/* --- Styles fuer printhead und printcontent ------------------------------- */
td.printcontent {
    background-color: #f3f5f8;
    text-align: left;
}

td.printhead2 {
    background-image: url('../images/content_object_arr-right.png');
}

td.printhead3 {
    background-image: url('../images/content_object_arr-down.png');
}

/* --- Styles fuer Terminkalender ------------------------------------------- */
a.day {
    color: #3333DD;
    font-weight: bold;
}

a.sday {
    color: #DD0000;
    font-weight: bold;
}

a.hday {
    color: #DD5555;
    font-weight: bold;
}

a.daymin {
    color: #3333DD;
    font-weight: bold;
}

a.sdaymin {
    color: #DD0000;
    font-weight: bold;
}

a.hdaymin {
    color: #DD5555;
    font-weight: bold;
}

font.kwmin {
    color: #000000;
    font-weight: bold;
}

a.lightday {
    color: #8888DD;
    font-weight: bold;
}

a.lightsday {
    color: #DDAAAA;
    font-weight: bold;
}

a.lighthday {
    color: #DDAAAA;
    font-weight: bold;
}

a.lightdaymin {
    color: #8888DD;
    font-weight: bold;
}

a.lightsdaymin {
    color: #DDAAAA;
    font-weight: bold;
}

a.lighthdaymin {
    color: #DDAAAA;
    font-weight: bold;
}

.inday {
    font-size: 8pt;
}

.precol1w {
    font-size: 12pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

.precol2w {
    font-size: 8pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

td.calhead, div.calhead {
    font-size: 18pt;
    font-weight: bold;
    color: #AAAAAA;
    text-align: center;
}

A:link.calhead {
    color: #8888DD;
    text-decoration: none;
}

A:visited.calhead {
    color: #8888DD;
    text-decoration: none;
}

A:hover.calhead {
    color: #FF3333;
    text-decoration: none;
}

.celltoday {
    background-color: #edd5d5;
}

th.inccal {
}

.precol1 {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.precol2 {
    font-weight: bold;
    text-align: left;
}

td.weekend {
    background-color: #f0f0f0;
}

td.weekday {
    background-color: #f3f5f8;
}

td.current {
    border: 2px solid #DD0000;
    background-color: #f0f0f0;
}

td.currenttoday {
    border: 2px solid #DD0000;
    background-image: url('../images/celltoday.png');
}

td.month {
    background-color: #f0f0f0;
}

td.lightmonth {
    background-color: #f3f5f8;
}

/* --- Styles fuer TerminZeile ---------------------------------------------- */
table.tabdaterow {
    background-color: white;
}

td.tddaterowp {
    border: 1px solid #FFFFFF;
    background-color: #f0f0f0;
    font-weight: bold;
    color: #009900;
    font-size: 8pt;
}

td.tddaterowpx {
    border: 1px solid #D00000;
    background-color: #f0f0f0;
    font-weight: bold;
    color: #009900;
    font-size: 8pt;
}

table.logintable {
    background-image: url('../images/login.jpg');
}

td.indexpage {
    background: white url('../images/indexpage.jpg') no-repeat;
    text-align: left;
}

.mainmenu {
    margin-top: 7px;
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

/* Buttons */

a.button, button.button {
    display: inline-block;
    position: relative;
    margin: 0.8em 0.6em 0.8em 0;
    padding: 5px 15px 5px 15px;
    border: 1px solid #1e3e70;
    background-color: #cddae4;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c4d1e9), to(#899ab9));
    background-image: -webkit-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -moz-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -ms-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: -o-linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    background-image: linear-gradient(top, #c4d1e9 0%, #899ab9 20%, #899ab9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4d1e9', endColorstr='#899ab9');
    min-width: 100px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

a.button:hover, button.button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(c4d1e9), to(#7890bc));
    background-image: -webkit-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -moz-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -ms-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: -o-linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    background-image: linear-gradient(top, #c4d1e9 0%, #7890bc 20%, #7890bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4d1e9', endColorstr='#7890bc');
}

a.button:active, button.button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7890bc), to(#c4d1e9));
    background-image: -webkit-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -moz-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -ms-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: -o-linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    background-image: linear-gradient(top, #7890bc 0%, #c4d1e9 20%, #c4d1e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7890bc', endColorstr='#c4d1e9');
}

a.button::-moz-focus-inner, button.button::-moz-focus-inner {
    border: 0;
}

a.button:focus, button.button:focus {
    outline: dotted 1px black;
}

a.button.disabled, button.button.disabled,
a.button[disabled], button.button[disabled] {
    cursor: default;
    background: #e6e6e6 none;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.button {
    width: auto;
    overflow: visible;
}

.button.accept:before, .button.cancel:before {
    float: left;
    margin: 0 8px 0 -4px;
    content: " ";
    width: 16px;
    height: 16px;
}

.button.cancel {
    background: #ffc0c0;
    background: -moz-linear-gradient(top,  #ffc0c0 0%, #d88888 20%, #d88888 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc0c0), color-stop(20%,#d88888), color-stop(100%,#d88888));
    background: -webkit-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: -o-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: -ms-linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    background: linear-gradient(top,  #ffc0c0 0%,#d88888 20%,#d88888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc0c0', endColorstr='#d88888',GradientType=0 );
}

.button.cancel:hover {
    background: #ffc0c0;
    background: -moz-linear-gradient(top,  #ffc0c0 0%, #da6767 20%, #da6767 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc0c0), color-stop(20%,#da6767), color-stop(100%,#da6767));
    background: -webkit-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: -o-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: -ms-linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    background: linear-gradient(top,  #ffc0c0 0%,#da6767 20%,#da6767 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc0c0', endColorstr='#da6767',GradientType=0 );
}

.button.cancel:active {
    background: #d88888;
    background: -moz-linear-gradient(top,  #d88888 0%, #ffc0c0 20%, #ffc0c0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d88888), color-stop(20%,#ffc0c0), color-stop(100%,#ffc0c0));
    background: -webkit-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: -o-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: -ms-linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    background: linear-gradient(top,  #d88888 0%,#ffc0c0 20%,#ffc0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88888', endColorstr='#ffc0c0',GradientType=0 );
}

.button.cancel:before {
    margin-top: -2px;
    background: url(../images/icons/16/white/decline.png) no-repeat;
}

.button.accept {
    font-weight: bolder;
}

.button.accept:before {
    margin-top: -2px;
    background: url(../images/icons/16/white/accept.png) no-repeat;
}

.button.accept, .button.cancel {
    white-space: normal;
}

/****************************************************************************/
/* Grouped Buttons                                                          */
/****************************************************************************/

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.button-group .button,
.button-group button {
    float: left;
    margin-left: -1px;
    margin-right: 0;
    border-left: 1px solid #1e3e70;
}

.button-group > .button:not(:first-child):not(:last-child),
.button-group > button:not(:first-child):not(:last-child) {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.button-group > .button:first-child,
.button-group > button:first-child {
    margin-left: 0;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 1px solid #1e3e70;
}

.button-group > .button:last-child,
.button-group > button:last-child {
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

fieldset.selectbox {
    background-color: #FFFFFF;
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    max-height: 200px;
    overflow: auto;
}

.minor {
    color: gray;
    font-size: 0.75em;
}

.quiet {
    color: gray;
}

dd {
    margin-left: 1.5em;
}

.middle {
    vertical-align: middle;
}

.text-top {
    vertical-align: text-top !important;
}

.text-bottom {
    vertical-align: text-bottom;
}

/* --- index.php anpassungen an den boxen zur vereinheitlichung ------------- */
div.index_container {
    margin: 0;
}

table.index_box {
    width: 100%;
    margin-bottom: 1em;
    border-collapse: collapse;
}

td.index_box_cell {
    padding: 4px;
    background-color: #f3f5f8;
}

/* --- Inhaltsverzeichnis Wikis --------------------------------------------- */
div.wikitoc {
    font-size: 1em;
    margin-bottom: 5px;
}

div.wikitoc_editlink {
    font-size: 1em;
    padding-top: 5px;
    margin-bottom: -10px;
}

span.wikitoc_editlink {
    font-size: 75%;
}

span.wikitoc_toggler {
    font-size: 0.8em;
}

div.wikitoc h4 {
    font-size: 1em;
    margin: 0 0 0 -10px;
    color: black;
}

div.wikitoc h3 {
    font-size: 1em;
    margin: 0 0 0 -10px;
    color: black;
}

div.wikitoc h2 {
    font-size: 1em;
    margin: 0 0 0 -10px;
    color: black;
}

div.wikitoc h1 {
    font-size: 1em;
    margin: 0 0 0 -10px;
    color: black;
}

div.wikitoc ul ul ul ul {
    list-style: none;
    padding-left: 30px;
}

div.wikitoc ul ul ul {
    list-style: none;
    padding-left: 20px;
}

div.wikitoc ul ul {
    list-style: none;
    padding-left: 10px;
}

div.wikitoc ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* --- AJAX indicator ------------------------------------------------------- */
#ajax_notification {
    position: fixed;
    bottom: 0;
    padding: 5px 0 0;
    height: 20px;
    margin: 0;
    width: 100%;
    background-color: #7387AC;
    color: white;
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#ajax_notification img {
    vertical-align: middle;
}

.ajax_notification {
    position: relative;
}

.ajax_notification .notification {
    background: rgba(255, 255, 255, 0.5) url(../images/ajax_indicator_small.gif) center center no-repeat;
    border: 1px solid #ccc;
    display: inline-block;
    *display: inline;
    height: 16px;
    margin: 0 3px;
    opacity: 1;
    position: absolute;
    width: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* --- Autocompleter -------------------------------------------------------- */
div.autocomplete {
    position: absolute;
}

.ac_results {
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    margin: 0;
    padding: 0;

    z-index: 99999;
}

.ac_results ul {
    width: 100%;
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
    cursor: pointer;
    text-align: left;
    font-size: 0.75em;
    min-height: 2em;
}

.ac_odd {
    background-color: #eeeeee;
}

.ac_over {
    background-color: #ffffbb;
}

/* --- Reiternavigation ----------------------------------------------------- */
#tabs, #tabs2 {
    float: left;
    line-height: 18pt;
}

#tabs ul, #tabs2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li, #tabs2 li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs a, #tabs2 a {
    color: #000000;
    font-weight: bold;
}

div.clear {
    clear: both;
    visibility: hidden;
}

#tabs {
    margin: 0;
    padding: 0 2px 0 0;
}

#tabs li {
    background-color: #899AB9;
    border-right: 1px solid #1E3E70;
    border-bottom: 1px solid #1E3E70;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

#tabs li:last-child {
    border-right: none;
}

#tabs a, #tabs span.quiet {
    display: block;
    padding-left: 1.3em;
    padding-right: 1.3em;
    white-space: nowrap;
    color: #FFFFFF;
}

#tabs li:hover {
    background: #7890BC;
}

#tabs li.current {
    border-bottom: 1px solid #FFFFFF;
}

#tabs li.current, #tabs li.current:hover {
    background: #eeeeee;
    background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    background: linear-gradient(top,  #eeeeee 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

#tabs li.current a, #tabs li.current span.quiet {
    color: #000000;
}

#tabs .quiet img {
    opacity: 0.25;
}

#tabs2 {
    width: 100%;
    background: #FFFFFF;
    clear: both;
    margin: 0 0 0 0;
    padding: 4px 0 4px 0;
    -webkit-border-radius: 0 2px 0 0;
    -moz-border-radius: 0 2px 0 0;
    border-radius: 0 2px 0 0;
}

#tabs2 li {
    line-height: 20pt;
    background: url("../images/icons/16/grey/arr_1right.png") no-repeat left center;
    padding-left: 20px;
    margin-left: 1em;
}

#tabs2 li:hover {
    background: url("../images/icons/16/black/arr_1right.png") no-repeat left center;
    cursor: pointer;
}

#tabs2 li.current {
    background: url("../images/icons/16/red/arr_1down.png") no-repeat left center;
}

#tabs2 li a {
    color: #6E6E6E;
    display: block;
}

#tabs2 li a:hover, #tabs2 li:hover a, #tabs2 li.current a {
    color: #000000;
}

#tabs span {
    padding: 0;
}

.tab-icon {
    float: left;
    margin: 4px 5px 0 -0.5em;
    height: 16px;
    width: 16px;
}

/* --- Studienbereichsauswahl ----------------------------------------------- */
#study_area_selection {
    padding: 1em;
}

#study_area_selection h3 {
    margin-top: 1em;
}

#study_area_selection_chosen {
    width: 49%;
    float: left;
    margin: 0;
    padding: 0;
}

#study_area_selection_none,
#study_area_selection_at_least_one {
    font-style: italic;
}

#study_area_selection_selectables {
    width: 49%;
    margin: 0 0 0 50%;
    padding: 0;
}

#study_area_selection .odd {
    background-color: #f3f5f8;
}

#study_area_selection .even {
    background-color: #e7ebf1;
}

#study_area_selection_chosen ul,
#study_area_selection_selectables ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#study_area_selection_chosen li,
#study_area_selection_selectables li {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0;
}

#admin_seminare_assi #study_area_selection {
    font-size: 0.8em;
}

#admin_seminare_assi #study_area_selection h3 {
    font-weight: normal;
}

div.overdiv {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 600px;
    background-color: #f3f5f8;
    z-index: 2;
}

div.overdiv div.title {
    margin: 0;
    padding: 0;
    height: 1.4em;
    background: #899ab9;
}

div.overdiv h4.title {
    font-size: 1em;
    margin: 0;
    padding: 2px;
    color: #FFFFFF;
    float: left;
    width: 90%;
    overflow: hidden;
}

div.overdiv a.title {
    margin: 0;
    padding: 2px;
    float: right;
}

div.overdiv div.content {
    margin: 0;
    padding: 2px;
    background-color: #f3f5f8;
    overflow: hidden;
    clear: both;
}

/* --- Modaler Dialog ------------------------------------------------------- */
div.modaloverlay {
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: 0;
    position: fixed;
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 1000;
}

div.modalshadow {
    background-image: url('../images/background-transparent.png');
    position: fixed;
    max-width: 50%;
    left: 25%;
    top: 40%;
    z-index: 1001;
}

/* --- Editor Toolbar ------------------------------------------------------- */
.editor_toolbar {
    width: 70%;
    text-align: left;
    padding-bottom: 0.5em;
}

.editor_toolbar button {
    margin-right: 0.25em;
}

/* --- MessageBoxes --------------------------------------------------------- */
div.messagebox {
    margin: 5px;
    background: no-repeat 10px 10px;
    border: 1px solid;
    padding: 15px 15px 15px 55px;
    position: relative;
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
}

div.messagebox_buttons {
    position: absolute;
    right: 3px;
    top: 3px;
}

div.messagebox_details {
    font-weight: normal;
    overflow: hidden;
}

div.messagebox_info {
    color: #000000;
    border-color: #4B6FCB;
    background-image: url("../images/messagebox/info.png");
    background-color: #d8e3fc;
}

div.messagebox_success {
    color: #000000;
    border-color: #4B8847;
    background-image: url("../images/messagebox/success.png");
    background-color: #dcf1da;
}

div.messagebox_error {
    color: #000000;
    border-color: #C74039;
    background-image: url("../images/messagebox/error.png");
    background-color: #ffdddc;
}

div.messagebox_exception {
    color: #D8000C;
    background-image: url("../images/messagebox/exception.png");
    background-color: #ffbaba;
}

div.messagebox_warning {
    color: #B06500;
    border-color: #B06500;
    background-image: url("../images/messagebox/advice.png");
    background-color: #F7E98E;
}

div.messagebox_modal {
    color: #000000;
    background-image: url("../images/messagebox/question.png");
    background-color: #f3e180;
    margin: -8px 8px 8px -8px;
}

div.messagebox_modal div {
    text-align: center;
}

#index .messagebox {
    margin: 5px 0;
}

div.messagebox .messagebox_buttons a {
    background: transparent no-repeat center center;
    display: inline-block;
    margin: 1px;
    height: 16px;
    width: 16px;
}

div.messagebox .messagebox_buttons a.close span,
div.messagebox .messagebox_buttons a.details span {
    display: none;
}

div.messagebox .messagebox_buttons a.close {
    background-image: url("../images/messagebox/cross_inv.png");
}

div.messagebox .messagebox_buttons a.details {
    background-image: url("../images/messagebox/minimize_inv.png");
}

div.messagebox.details_hidden .messagebox_buttons a.details {
    background-image: url("../images/messagebox/maximize_inv.png");
}

div.messagebox.details_hidden .messagebox_details {
    height: 0;
}

/* --- Quicksearch ---------------------------------------------------------- */
form#quicksearch {
    display: inline;
}

input.quicksearchbox {
    background-color: #FFFFFF;
    border: 1px solid #485979;
    color: #ABB7CE;
    vertical-align: top;
    font-size: 11px;
    width: 130px;
    margin-top: -1px;
    padding-left: 2px;
}

input.quicksearchbutton {
    border: 0;
    padding: 0;
    margin-right: 10px;
    vertical-align: text-top;
}

div.quicksearch_frame {
    background-color: #ffffff;
    border: 1px #999999 solid;
    display: inline-block;
}

div.quicksearch_frame input, div.quicksearch_frame select {
    background-color: #ffffff;
    border: 0;
}

/* --- Avatars of users, courses and institutes ----------------------------- */
.avatar-small {
    vertical-align: middle;
    width: 20px;
    height: 25px;
}

.avatar-medium {
    width: 80px;
    height: 100px;
}

.avatar-normal {
    width: 200px;
    height: 250px;
}

.course-avatar-small {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.course-avatar-medium {
    width: 80px;
    height: 80px;
}

.course-avatar-normal {
    width: 250px;
    height: 125px;
}

#custom_avatar label {
    display: block;
    font-weight: bold;
}

/* --- Plugin Administration ------------------------------------------------ */
.plugin_image {
    text-align: center;
    width: 88px;
}

.plugin_score {
    white-space: nowrap;
}

.plugin_install {
    text-align: center;
}

img.plugin_preview {
    height: 60px;
    width: 80px;
}

/* --- User Administration -------------------------------------------------- */
.user_form {
    width: 250px;
}

/* --- Veranstaltungsverwaltung --------------------------------------------- */
.click_me div {
    float: left;
    margin: 0.5em;
    background-color: #f3f5f8;
    width: 21.5em;
    height: 10em;
    min-width: 21.5em;
    max-width: 21.5em;
    padding: 1em;
    border: 1px solid #D0D0D0;
    overflow: hidden;
}

.click_me p {
    color: #666;
}

.click_me div:hover p {
    color: #000;
}

.click_me div:hover {
    float: left;
    margin: 0.5em;
    padding: 1em;
    border: 1px solid #A4A4A4;
    background-color: #F2F2F2;
}

.click_head {
    font-size: 2em;
}

.smashbox_kategorie {
    width: 90%;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

.smashbox_stripe {
    border-top: 1px solid #D0D0D0;
    background: url('../images/background_stripes.jpg') repeat-x;
}

/* --- textarea resizer ----------------------------------------------------- */
.ui-resizable-handle.ui-resizable-s {
    background: #eee url(../images/vendor/handle_background.png) no-repeat center;
    bottom: 0;
    cursor: s-resize;
    height: 12px;
}

/* --- general style classes ------------------------------------------------ */
.arrow_right {
    background: transparent url('../images/icons/16/blue/arr_1right.png') top left no-repeat !important;
    background-position: 0 0 !important;
}

.arrow_down {
    background: transparent url('../images/icons/16/blue/arr_1down.png') top left no-repeat !important;
    background-position: 0 0 !important;
}

h1:hover .arrow_right, h2:hover .arrow_right, h3:hover .arrow_right, h4:hover .arrow_right {
    background: transparent url('../images/icons/16/red/arr_1right.png') top left no-repeat !important;
}

h1:hover .arrow_down, h2:hover .arrow_down, h3:hover .arrow_down, h4:hover .arrow_down {
    background: transparent url('../images/icons/16/red/arr_1down.png') top left no-repeat !important;
}

.invisible {
    display: none;
}

/* --- calendar api --------------------------------------------------------- */
.invalid {
    /* an invalid form entry */
    border: 2px dotted red;
}

.invalid_message {
    display: none;
    font-weight: bold;
    color: red;
}

/* --- ablaufplan / dates --------------------------------------------------- */
.dates_items th, .dates_items td {
    border-bottom: 3px solid #fff;
}

.dates_opened td {
    border-bottom: 3px solid #F3F5F8;
}

.dates_content td {
    padding: 10px;
}

#schedule {
    width: 100%;
    height: 100%;
}

#schedule_headings {
    margin-left: 41px;
    background-color: #E8EEF7;
}

table.schedule_headings td {
    background-color: #E8EEF7;
}

div.schedule_day {
    border-right: 3px double #DDDDDD;
    position: relative;
}

div.schedule_marker {
    border-bottom: 1px dotted #DDDDDD;
    border-top: 1px solid #DDDDDD;
    padding: 0;
}

div.schedule_hours {
    border-top: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding-bottom: 1px;
    color: black;
    padding-right: 3px;
}

div.schedule_entry {
    position: absolute;
    margin: 0;
    padding: 0 0 2px;
    overflow: hidden;
    font-size: 10px;
}

div.schedule_entry.clickable {
    cursor: pointer;
}

div.schedule_entry dl {
    color: white;
    height: 100%;
    background: url('../images/calendar/category_neutral.png') repeat-y top left;
    margin: 0;
}

div.schedule_entry dl.hover:hover {
    opacity: 0.7;
}

div.schedule_entry dl dd {
    margin: 0;
    padding: 2px;
    overflow: hidden;
    word-wrap: break-word;
}

div.schedule_entry dl a {
    color: white;
}

div.schedule_entry dl a:hover {
    text-decoration: underline;
}

div.snatch {
    position: absolute;
    bottom: 4px;
    text-align: center;
    width: 100%;
    cursor: ns-resize;
    padding-bottom: 2px;
}

div.snatch div {
    border-top: 3px double white;
    margin-left: auto;
    margin-right: auto;
    cursor: ns-resize;
    height: 0;
    width: 10px;
}

#schedule_new_entry {
    position: absolute;
    border: 2px solid #E0E0F0;
    width: 400px;
    height: 230px;
    background-color: #E8EEF7;
    z-index: 3;
}

#schedule_entry_new dl {
    border: 1px solid #5C2D64;
    background: #7C5783 url('../images/calendar/category_neutral.png');
}

#schedule_entry_new dt {
    background-color: #5C2D64;
}

div.schedule_edit_entry, #schedule_settings {
    position: absolute;
    left: 50%;
    top: 180px;
    margin-left: -25%;
    min-height: 15em;
    max-height: 80em;
    height: auto;
    width: 50%;
    min-width: 700px;
    padding-bottom: 1em;
    background-color: #E8EEF7;
    border: 2px solid #E0E0F0;
    z-index: 4;
}

div.schedule_edit_entry > form {
    padding-left: 10px;
    padding-top: 10px;
    margin-right: 10px;
}

div.window_heading, div.window_heading_nodrag {
    font-weight: bold;
    text-align: center;
    background-color: #899ab9;
    color: #FFF;
    cursor: move;
    padding: 2px;
}

div.window_heading_nodrag {
    cursor: default !important;
}

#color_picker {
    white-space: nowrap;
    padding-top: 3px;
}

#schedule_entry_hours {
    display: inline;
    padding: 2px;
}

.schedule_icons {
    position: absolute;
    right: 0;
    top: 0;
}

div.invisible_entry {
    opacity: 0.8;
}

span.invisible_entry {
    font-style: italic;
    background-color: #660000;
}

div.settings {
    float: left;
    margin-left: 10px;
}

div.settings div {
    margin-bottom: 10px;
    font-weight: bold;
}

div#schedule-settings-dialog-shadow {
    background: #000000 none repeat scroll 0 0;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
}

/* classes for sortable table headers --------------------------------------- */
tr.sortable {
    background-color: #d1d1d1;
}

tr.sortable th.sortasc {
    background: transparent url('../images/dreieck_up.png') no-repeat center left;
    padding-left: 17px;
}

tr.sortable th.sortdesc {
    background: transparent url('../images/dreieck_down.png') no-repeat center left;
    padding-left: 17px;
}

/* --- forum ---------------------------------------------------------------- */
.forum_headline {
    margin: 0 0 3px 0;
}

.forum_content {
    margin: -3px 0 0 0;
}

/* classes for the news modules in Stud.IP ---------------------------------- */
.news_item {
    margin: 3px;
}

/* classes for the news modules in Stud.IP ---------------------------------- */
.evaluation_item {
    box-sizing: border-box;
    margin: 3px;
}

/* classes for the evaluation modules in Stud.IP ---------------------------- */
.eval_title {
    font-size: 1.2em;
    font-weight: bold;
    color: #24437c;
}

.eval_error {
    color: #E00000;
}

.eval_success {
    color: #008000;
}

.eval_info {
    color: #333333;
}

.eval_metainfo {
    font-size: 0.8em;
}

.eval_highlight {
    background-color: #b8c3e8;
}

.eval_gray {
    background: #d5d5dd none;
}

.steel_with_graulight_bg {
    background-color: #dfe1f0;
    border-top: 1px solid #e0e1e6;
}

.steel_with_steel1_bg {
    background-color: #dfe1f0;
    border-top: 1px solid #f9f8f6;
}

.steel3 {
    background-color: #c6c6c6;
}

h3.eval {
    font-size: 1.3em;
    color: #000000;
    font-weight: bold;
}

/* skiplink-area highlighting -------------------------------------------- */
#skip_link_navigation {
    position: fixed;
    left: -600px;
    top: 20px;
    z-index: 1000;
    background-color: #ffffff;
    border: 2px solid #ff6600;
    padding: 10px;
    margin: 0;
}

#skip_link_navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skip_target {
    position: absolute;
    left: -600px;
}

#skiplink_list {
    display: none;
}

/* error message */
.error {
    height: 15px;
    background-color: #FCC;
    font-size: 11px;
    border: 1px solid #FCC;
    padding: 4px 10px;
    color: #000;
    display: none;
}

.error p {
    margin: 0;
}

.error div.arrow {
    border: 10px solid;
    border-color: transparent transparent #FCC transparent;
    top: -18px;
    height: 0;
    left: 60px;
    position: absolute;
    width: 0;
}

.setting_info {
    font-size: 0.9em;
    font-style: italic;
    text-align: right;
    color: #444;
}

img.bookable_rooms_action {
    display: none;
}

/* --- archiv -------------------------------------------------------------- */
#archiv table {
    background-color: #FFFFFF
}

#archiv TD.topic {
    border: 0 solid #000000;
    color: #FFFFFF;
    background-color: #899ab9;
}

#archiv BODY {
    background-color: #91A2B6;
}

#archiv TABLE.blank {
    background-color: white;
}

#archiv TD.blank {
    background-color: #FFFFFF;
}

#archiv th {
    border: 0 solid #000000;
    background: #B5B5B5 url('../images/steelgraudunkel.gif');
    color: #FFFFFF;
}

#archiv p, #archiv td, #archiv form, #archiv ul {
    color: #000000
}

#archiv h1, #archiv h2, #archiv h3 {
    color: #213499;
    font-weight: bold;
}

#archiv h1.topic {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
    line-height: 1em
}

h2.topic, h3.topic {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0.1em;
    line-height: 1em
}
