#Alias /studip	/usr/local/studip/public
<Directory "/usr/local/studip/public">
    # für rewrite wird die Option FollowSymLinks oder SymLinksIfOwnerMatch benötigt ...
    Options SymLinksIfOwnerMatch
    RewriteEngine on
    RewriteBase /usr/local/studip/public
    RewriteCond %{REQUEST_FILENAME} !-s 
    RewriteCond %{REQUEST_FILENAME} !-l 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$ /studip/router.php [L]
    
    #RewriteRule ^download/(normal|force_download|zip)/([0-467])/([^/]+)/(.+)$ /studip/sendfile.php?$1=1&type=$2&file_id=$3&file_name=$4 [L]
    #RewriteRule ^download/(normal|force_download|zip)/5/([^/]+)/([^/]+)/(.+)$ /studip/sendfile.php?$1=1&type=5&range_id=$2&list_id=$3&file_name=$4 [L]


    Order Allow,Deny
    Allow from all

    php_value upload_max_filesize 7M
    php_value post_max_size 8M
    php_value memory_limit 40M
    php_value max_execution_time 300
    php_flag short_open_tag On
    php_flag register_globals On
    php_flag session.use_trans_sid Off
    php_flag magic_quotes_gpc On
    php_admin_flag allow_url_fopen On
    #PHP Konstanten sind hier nicht verfügbar
    # 6135 = E_ALL & ~E_NOTICE PHP 5.2.x
    # 22519 = E_ALL & ~(E_NOTICE|E_DEPRECATED) PHP 5.3.x
    php_value error_reporting 22519
    #Wenn die suhosin extension benutzt wird, sind diese Optionen notwendig
    #php_value suhosin.cookie.plainlist Seminar_Session
    #php_flag suhosin.session.encrypt Off
    #php_value suhosin.post.max_array_depth 200
    #php_value suhosin.post.max_array_index_length 128
    #php_value suhosin.post.max_name_length 128
    #php_value suhosin.post.max_totalname_length 512
    #php_value suhosin.post.max_value_length 10000000
    #php_value suhosin.post.max_vars 10000
    #php_value suhosin.request.max_array_depth 200
    #php_value suhosin.request.max_array_index_length 128
    #php_value suhosin.request.max_totalname_length 512
    #php_value suhosin.request.max_value_length 10000000
    #php_value suhosin.request.max_vars 10000
    #php_value suhosin.request.max_varname_length 128
</Directory>
