#stream {
    background: #e0e0e0;
    padding: 1em;
}

#stream li {
    background: white;
    list-style: none;
    margin: 0 0 1em 80px;
    min-height: 80px;
    border: 1px solid #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#stream li.self {
    margin: 0 80px 1em 0;
}

#stream li, #stream .author img {
    box-shadow: 3px 3px 4px #999;
    -moz-box-shadow: 3px 3px 4px #999;
    -webkit-box-shadow: 3px 3px 4px #999;
}

#stream .author {
    float: left;
    margin-left: -80px;
}

#stream .self .author {
    float: right;
    margin-right: -80px;
}

#stream .author img {
    height: 80px;
    width: 60px;
}

#stream .content {
    padding: 0.5em;
}

#stream .date {
    float: right;
    color: #aaa;
}

#stream h2 {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}
